form {
	margin: 0;
	padding: 0;
}
.footer-text {
	font-size: 10px;	
}

.top_navbar{
	position : absolute;
	top : 2px;
	right : 0px;
	FONT-FAMILY: Arial,sans-serif;
	font-size : 11px;
}

input, select, button, legend, a {
	FONT-FAMILY: Arial,sans-serif;
}

.top_navbar td{
	padding : 5px 10px 7px 10px;
	background-position : left;
	background-repeat : repeat-y;
	background-color : transparent;
}
.top_navbar td a{
	color : #000000;
	text-decoration : none;
}
.top_navbar td a:hover{
	color : #000000;
	text-decoration : underline;
}
<!-- start rich panel none border style in jsp use bodyClass -->
.panel-none-border {
	width: auto;height: auto;
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	border : 0px solid #ACBECE;
	}
.panel-header-none-border{
	top: 0px;
  	left: 0px;
  	height:26px;
  	padding:0px 0px 0px 0px;
  	margin:0px 0px 0px 0px;
  	font-size: 15px;
  	font-weight:bold;
  	color:#666699;
  	line-height:28px;
  	TEXT-INDENT: 6px;
  	background-position : top left;
  	background:#fff;
  	border:0px #f3f3f3 solid;
}
.panel-header-none-border-main-pg-column-one{
	width:10%;
	text-align:left;
}
.panel-header-none-border-main-pg-column-two{
	width:50%;
	text-align:center;
}
.panel-header-none-border-main-pg-column-three{
	width:40%;
	text-align:right;
	}
.panel-header-none-border-pg-column{
	padding: 0px 6px 0px 6px;
	margin:0px 0px 0px 0px;
	border : 0px solid #ACBECE;
	text-align:center;
	background:url(../css/images/icons/or_navon.gif) bottom left repeat-x; list-style-type:none;
	}

.panel-documents-none-border{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	border : 0px solid #ACBECE;
	text-align:left;
}
.panel-documents-none-border div{
	background-color: transparent;
	FONT-FAMILY: Arial,sans-serif;
	font-size : 12px;
	border:0;
	padding:0;
}

.panel-documents-none-border a{
	color : #000000;
	text-decoration : none;
}
.panel-documents-none-border a:hover{
	color : red;
	text-decoration : underline;
}
<!-- end  rich panel none style -->
<!-- start red rich panel none border style in jsp use bodyClass -->
.panel-red-border {
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	border : 0px solid #ACBECE;
	}
.panel-header-red-border{
	top: 0px;
  	left: 0px;
  	height:22px;
  	padding:0px 0px 0px 8px;
  	margin:0px 0px 0px 0px;
  	font-size: 13px;
  	font-weight:bold;
  	color:#fff;
  	line-height:22px;
  	TEXT-INDENT: 6px;
  	background-position : top left;
  	background:url(../css/images/icons/panel_header_red.jpg) left top no-repeat;
  	border:0px #f3f3f3 solid;
}
.panel-header-red-border-main-pg-column-one{
	width:10%;
	text-align:left;
}
.panel-header-red-border-main-pg-column-two{
	width:50%;
	text-align:center;
}
.panel-header-red-border-main-pg-column-three{
	width:40%;
	text-align:right;
	}
.panel-header-red-border-pg-column{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border : 0px solid #ACBECE;
	text-align:center;
	background:url(../css/images/icons/or_navon.gif) bottom left repeat-x; list-style-type:none;
	}

.panel-documents-red-border{
	padding: 0px 0px 0px 8px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	border : 1px solid #CC3333;
	BORDER-RIGHT:1px solid #CC3333;
	BORDER-TOP: #f9f9f9 0px solid;
	BORDER-LEFT: 1px solid #CC3333;
	BORDER-BOTTOM: 1px solid #CC3333;
	text-align:left;
}
.panel-documents-red-border div{
	background-color: transparent;
	FONT-FAMILY: Arial,sans-serif;
	font-size : 12px;
	border:0;
	padding:0;
}

.panel-documents-red-border a{
	color : #000000;
	text-decoration : none;
}
.panel-documents-red-border a:hover{
	color : red;
	text-decoration : underline;
}
<!-- end  rich panel red style -->
<!-- start  rich panel only body gray style -->
.panel-gray-border {
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: transparent;
	border : 0px solid #d6d6d6;
	}
.panel-header-gray-border{
	top: 0px;
  	left: 0px;
  	padding:0px 0px 0px 0px;
  	margin:0px 0px 0px 0px;
  	font-size: 13px;
  	font-weight:bold;
  	color:#fff;
  	line-height:22px;
  	TEXT-INDENT: 6px;
  	background-position : top left;
  	border:0px #d6d6d6 solid;
}
.panel-header-gray-border-main-pg-column-one{
	width:10%;
	text-align:left;
}
.panel-header-gray-border-main-pg-column-two{
	width:50%;
	text-align:center;
}
.panel-header-gray-border-main-pg-column-three{
	width:40%;
	text-align:right;
	}
.panel-header-gray-border-pg-column{
	padding: 0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border : 0px solid #ACBECE;
	text-align:center;
	 list-style-type:none;
	}

.panel-documents-gray-border{
	padding: 6px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
	background-color: transparent;
	BORDER-RIGHT:1px solid #d6d6d6;
	BORDER-TOP: 0px none d6d6d6;
	BORDER-LEFT: 1px solid #d6d6d6;
	BORDER-BOTTOM: 1px solid #d6d6d6;
	text-align:left;
}
.panel-documents-gray-border-none-padding{
	padding: 6px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
	background-color: transparent;
	BORDER-RIGHT:1px solid #d6d6d6;
	BORDER-TOP: 0px none d6d6d6;
	BORDER-LEFT: 1px solid #d6d6d6;
	BORDER-BOTTOM: 1px solid #d6d6d6;
	text-align:left;
}
.panel-documents-gray-border div{
	background-color: transparent;
	FONT-FAMILY: Arial,sans-serif;
	font-size : 12px;
	border:0;
	padding:0;
}

.panel-documents-gray-border a{
	color : #000000;
	text-decoration : none;
}
.panel-documents-gray-border a:hover{
	color : red;
	text-decoration : underline;
}

<!-- end  rich panel only body gray style -->
<!-- start panel bar -->
.rich-panelbar{
	BORDER-RIGHT:0px solid #CC3333;
	BORDER-TOP: 0px solid #CC3333;
	BORDER-LEFT: 0px solid #CC3333;
	BORDER-BOTTOM: 0px solid #CC3333;
	}
<!-- end panel bar -->
.text {
	cursor : pointer;
	padding:0px 0px 0px 10px;
}

 .selected-new {
	
	vAlign: center; 
	align:left; 
	height:35;
}

 .selected-new-span {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #0083b3; 
	TEXT-DECORATION: none;
	margin-left: 26px;
	TEXT-INDENT: 18px;
	vAlign: center; 
	align:left; 
}

.current-selected_label {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 3px;FLOAT: left; COLOR: #7d7d7d; FONT-FAMILY: Arial;FONT-WEIGHT:BOLD;
}
.current-selected {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px; DISPLAY: inline-table; BACKGROUND: #a8d0f4; COLOR: #ffffff; font-size:12px;
}
.current-product-show-number {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; DISPLAY: inline-table; BACKGROUND: #a8d0f4; COLOR: #ffffff; font-size:12px;
}
.top-product-navigation-option {
	DISPLAY: table-column; FLOAT: left; MARGIN: 0px 5px; LINE-HEIGHT: 150%; WHITE-SPACE: nowrap; font-size:12px;
}

 .ico{
	cursor : pointer;
	padding-top:1px;
	padding-right:3px;
	padding-bottom:1px;
	padding-left:3px; 
	
}

.component_name{
	position : absolute;
	top : 124px;
	left : 290px;
}

.content_container{
	position : absolute;
	top : 176px;
	left : 0px;
}
.content_container_pdddings{
	padding : 0px 35px 35px 0px;
}
.content_container_left_brick{
	background-color : transparent;
	width : 294px;
}

.footer{
	border-top : 2px solid #ACBECE;
	text-align : right;
	height : 50px;
	font-family : verdana;
	font-size : 11px;
	padding : 0px 15px 0px 0px;
}
.content_tab {
	background-color: transparent; 
	border-width:0;
	background-position : top left;
	background-repeat : no-repeat;
	font-family: Verdana, Arial;
}

.source_frame {
	border: 1px solid #ACBECE; 
	margin: 8px 0px 15px 0px;
	width: 100%; 
	height:300px;
}

.vertical-align-top {
	vertical-align: top;
}

.TableHeadingColor {
	background-color:#E9EEF2;
}
table.doctable {
	border:1px solid #CCC;
	border-left-width:0px;
	border-bottom-width:0px;
	margin: 10px 0;
}
table.doctable td {
	border:0px solid #CCC;
	border-left-width:1px;
	border-bottom-width:1px;
}

/*RF-4207*/
.rich-mpnl-controls {
	z-index: 1;
}
/* add */
td.lp { padding-left:10px }
td.lrp { padding-left:10px; padding-right: 10px }
td.google_ads { padding:5px 10px; cursor:pointer; cursor:hand }
td.lrpB3Y { padding-left:10px; padding-right: 10px; border-bottom: #FFE351 solid 2px }
td.nav-new-1-pixel { 
   border-left: #BBD6EF solid 1px; 
   border-right: #BBD6EF solid 1px; 
   border-bottom: #BBD6EF solid 1px; 
   padding-left:10px; 
   padding-right: 10px; 
   padding-top: 4px; 
   padding-bottom: 4px 
}
td.nav-new-1-pixel-nobb {
   border-left: #BBD6EF solid 1px;
   border-right: #BBD6EF solid 1px;
   padding-left:10px;
   padding-right: 10px;
   padding-top: 4px;
   padding-bottom: 4px
}
td.nav-new-1-pixel-store { 
   border-left: #FFC426 solid 1px; 
   border-right: #FFC426 solid 1px; 
   border-bottom: #FFC426 solid 1px; 
   padding-left:10px; 
   padding-right: 10px; 
   padding-top: 4px; 
   padding-bottom: 4px 
}
td.nav-new-3-pixel { border-right: #BBD6EF solid 1px; border-bottom: #BBD6EF solid 3px; padding-left:10px; padding-right: 10px; padding-top: 4px; padding-bottom: 4px }
td.padLR10bordB1 
{
   border-bottom: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px
}
td.padLR10bordRB1 
{
   border-bottom: #BBD6EF solid 1px;
   border-right: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px
}
.cbGrayText{font-family:arial,helvetica,sans-serif;font-size:10px;color:#555;}
.cbBtnA { font-family:arial,helvetica,sans-serif; font-weight:bold; font-size:12px; text-decoration:none; text-align:center; color:#060; padding:3px 5px 4px; background-image: url(http://img.shopping.com/sc/pr/fade.gif); background-repeat: repeat-x; background-color:#eff9ed; border:1px dashed #ccc;white-space:nowrap;margin:0 auto;}
.cbBtnA a:link,.cbBtnA a:visited,.cbBtnA a:active {text-decoration:none;color:#060;}
.cbBtnA a:hover {text-decoration:underline;color:#090;}
.cbBtnAln1{display:block;line-height:10px;}
.cbBtnB {font-weight:normal;font-size:10px;line-height:9px;}
.cbBtnC {text-decoration:underline;font-weight:normal;font-size:10px;line-height:9px}
#cbRange {font-weight:bold;padding-right:5px; color:#060}
.boxDots {border:dashed #ccc 2px; padding:10px 0px; margin-bottom:7px;background-image: url(http://img.shopping.com/sc/pr/fade.gif);background-repeat: repeat-x; background-color:#eff9ed;}
.cbBtnD a:link,.cbBtnD a:visited,.cbBtnD a:active {text-decoration:none;color:#060;}
.cbBtnD a:hover {text-decoration:underline;color:#090;}
.cbBtnE {font-weight:normal;font-size:12px;line-height:12px;}
.cbBtnF {text-decoration:underline;line-height:12px;}
.cbBtnG{font-weight:bold; color:#060;}
.cbBtnH {font-weight:normal;font-size:2px;line-height:2px;}
h1.title {
   font-family:arial,helvetica,sans-serif;
   font-size:120%;
   line-height:100%;
   color:#000000 ;
   font-weight:normal;
   margin:0px; 
   padding-top:10px;
}
div.subtitle {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   line-height:100%;
   color:#000000 ;
   font-weight:normal;
   margin:0px; 
   padding-top:10px;   
}
#list {
   float:left;
   clear:none;
   line-height:150%; 
}
div#header {
   background-image: url(http://img.epinions.com/images/epi_images/e3/tab_line.gif);
   background-position: 0px 100%;
   background-repeat: repeat-x;
   border-bottom: #BBD6EF solid 4px
}
table.taxbox {
   margin:5px 0px 15px 5px;
}
dl.taxbox {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:black;
}
dl.taxbox dt{
   font-weight:bold;
}
dl.taxbox dd {
   margin-left:5px; 
   padding:3px 0px;
}
dl.taxbox tt {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:#7d7d7d;
}
table#home-tax td{
   padding:4px 7px
}
table#home-tax big{
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   font-weight:bold; 
   color:#000000
}
table#home-tax small{
   font-family:arial,helvetica,sans-serif; 
   font-size:70%; 
   color:#000000
}
table#topn td.info {
   padding:0px 10px 10px 10px;
   border-bottom:#FFE351 solid 1px;
}
table#topn td.mtitle {
   padding:5px 0px 5px 10px;
   border-bottom:#FFE351 solid 1px;
}
table#topn td.mangle {
   vertical-align:top;
   border-top:#FFE351 solid 1px;
}
table#product-list tr.prod{
   background-color:#FFFFFF;   
}
table#product-list tr.prod td {
   border-bottom: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px;   
}
table#product-list tr.prod b {
   font-family:arial,helvetica,sans-serif;
   font-size:80%; font-weight:bold;
   color:#000000;
   padding-bottom:2px;  
}
table#raw-offer td{   
   padding:5px 10px 5px 10px;
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   font-weight:bold; 
   color:#000000
}
table#raw-offer td.txt{   
   font-weight:normal; 
   color:#7D7D7D
}
table#raw-offer td.txt b{   
   font-weight:bold; 
   color:black
}
table#wtb {
}
table#wtb tr.reg td{
   border-top:2px solid #bbd6ef;
   padding:5px 7px;
   background-color:white;
}
table#wtb tr.smart td{
   border-top:2px solid #bbd6ef;
   padding:5px 7px;
   background-color:#FFFFC7;
}
table#wtb tr.reg_border td{
   padding:5px 7px;
   border-left: #bbd6ef solid 1px;
   border-top:2px solid #bbd6ef;
   background-color:white;
}
table#wtb tr.smart_border td{
   padding:5px 7px;
   border-left: #bbd6ef solid 1px;
   border-top:2px solid #bbd6ef;
   background-color:#eff7ff;
}
table#wtb tr.header td{
   padding:3px 7px;
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:#000000;
   border-left: #BBD6EF solid 1px;
}
table#wtb td.logo-f{
   padding:5px 5px;
}
table#wtb td.logo-r{
   padding:5px 3px;
}
td.rev-section-title {
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   color:black;
   border-bottom: #BBD6EF solid 1px; 
   border-left: #BBD6EF solid 1px; 
   padding:4px 10px 4px 10px; 
}
td.rev-comment {
   border-left: #BBD6EF solid 1px; 
   padding:10px 10px 4px 10px;    
}
hr {
   border:0; 
   background-color:#cccccc;
}
.xkb { width:100%; position:absolute; valign:middle; cellpadding:0; cellspacing:0; top:0px }
.xkr { font-family:arial,helvetica,sans-serif; font-size:120%; color:#000000 }
.xgr { font-family:arial,helvetica,sans-serif; font-size:120%; color:#7D7D7D }
.lkr { font-family:arial,helvetica,sans-serif; font-size:87%;  color:#000000 }
.lkb { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#000000 }
.lwb { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#FFFFFF }
.lrb  { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#FF0000 }
.rkr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#000000 }
.rkb  { font-family:arial,helvetica,sans-serif; font-size:80%; font-weight:bold; color:#000000 }
.rgb  { font-family:arial,helvetica,sans-serif; font-size:80%; font-weight:bold; color:#7D7D7D }
.rgr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#7D7D7D }
.skr  { font-family:arial,helvetica,sans-serif; font-size:60%;aling:center;}
.sgr  { font-family:arial,helvetica,sans-serif; font-size:60%; color:#7D7D7D }
.rrr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#FF0000 }
.srr  { font-family:arial,helvetica,sans-serif; font-size:60%; color:#FF0000 }
a:link { color:#3366cc }
a:visited { color:#264c99 }
a:active { color:#Ef6700 }
.d-x { font-family:arial,helvetica,sans-serif; font-size:110% }
.d-l { font-family:arial,helvetica,sans-serif; font-size:100% }
.d-r { font-family:arial,helvetica,sans-serif; font-size:80% }
.d-s { font-family:arial,helvetica,sans-serif; font-size:70% } 
.f-x { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:110% }
.f-l { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:100% }
.f-r { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:80% }
.f-s { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:70% } 
.l-x { font-family:arial,helvetica,sans-serif; color:#999999; font-size:110% }
.l-l { font-family:arial,helvetica,sans-serif; color:#999999; font-size:100% }
.l-r { font-family:arial,helvetica,sans-serif; color:#999999; font-size:80% }
.l-s { font-family:arial,helvetica,sans-serif; color:#999999; font-size:70% } 
.a-x { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:110% }
.a-l { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:100% }
.a-r { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:80% }
.a-s { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:70% } 
.sbmt { font-weight:bold; font-size:11px; background-color:#dedede }
.deals td{padding: 15px 5px 15px 5px; border-top: 1px solid #ccc}
.deals .first td{border-top:0px}
.price{ font-family:arial,helvetica,sans-serif; font-weight:bold; font-size:110%; margin:5px 0 }
a.price:link{text-decoration:none}
a.price:hover{text-decoration:underline}
div.reviews{margin:5px 0}

/* define self */
.headerStyle  {align:center; border:0; cellpadding:0; cellspacing:0; width:970px}
.contentStyle  {align:center; border:0; cellpadding:0; cellspacing:0; width:970px;}
.headerMiddleStyle  {align:center; border:0; cellpadding:0; cellspacing:0; width:970px}
.allStyle {width:90%;align:center}
.login-heading {
  font-family: Arial, sans-serif;
  font-size: 26pt;
  font-weight: normal;
  text-align: left;
}

.user-name {
  font-family: Arial, sans-serif;
  font-size: 9pt;
  text-indent: 1px;
  text-align: left;
}

.table-background {
  BORDER-RIGHT: #f5fcff 0px solid; BORDER-TOP: #f5fcff 0px; MARGIN: 0px; BORDER-LEFT: #f5fcff 0px solid; WIDTH: 100%; BORDER-BOTTOM: #f5fcff 0px solid;
  border: 1px outset #71A5A5;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  width: 100%;
}

.project-background {
  background-color: rgb(233, 249, 244);
  border: 2px outset #71A5A5;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  width: 100%;
}

.project-row {
  font-size: 10pt;
  background-color: rgb(233, 249, 244);
}

.project-data {
  font-size: 10pt;
  color: rgb(42, 47, 255);
}

.project-input {
  font-size: 10pt;
}

.box {
  border: 2px outset #71A5A5;
  border-collapse: collapse;
}
.table-header {
  font-weight: bold;
  PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 120%; PADDING-TOP: 2px; BORDER-BOTTOM: #a9d5e9 1px solid; TEXT-ALIGN: left
}

.table-header a:link {
  color: black;
}

.table-header a:hover {
  color: blue;
}
.table-row {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
  	font-size: 10pt;
  	background: #FFFFFF;
}
.table-odd-row {
  font-size: 10pt;border:0px solid;
  background-color: rgb(233, 249, 244);
}

.table-even-row {
  font-size: 10pt;
  background-color: rgb(232, 255, 225);
}

.table-odd-column {
  font-size: 10pt;
  background-color: rgb(233, 249, 244);
}

.table-one-column {
  font-size: 10pt;
  width:10%;
  text-align: right;
}
.table-two-column {
  font-size: 10pt;
  width:40%;
}
.table-three-column {
  font-size: 10pt;
  width:50%;
}
.table-even-column {
  font-size: 10pt;
  background-color: rgb(232, 255, 225);
}

.table-simple-row {
  font-size: 10pt;
}
.table-list-product-column {
  font-size: 12pt;
  align: left;
}
.table-list-product-panel-grid {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  font-size: 10pt;
  BORDER-RIGHT: 0px solid #f5fcff; 
  BORDER-TOP: 0px solid #f5fcff; 
  BORDER-LEFT: 0px solid #f5fcff; 
  BORDER-BOTTOM: 0px solid #f5fcff; 
  BACKGROUND: #fff;
}
.table-list-product-panel-grid-main-column {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.table-list-product-panel-grid-column {
	font-size: 12pt;
  	align: left;
  	width:33%;
  	BORDER-RIGHT: 0px none #FFFFFF ; 
  	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
	BACKGROUND: #FFFFFF;
}
.table-list-product-left-panel-grid-column {
  	font-size: 12px;
  	align: left;
  	padding:0px 0px 0px 8px;
	margin:0px 0px 0px 0px;
  	width:50%;
  	BORDER-RIGHT: 0px none #FFFFFF ; 
  	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
}

.table-list-product-panel-grid-header {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: 0px none #FFFFFF; 
	BORDER-TOP: 0px none #FFFFFF; 
	BACKGROUND: #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF; 
	HEIGHT: 36px;
	text-align:LEFT;
	font-size:12px;
	color:#F87C14;
}
.table-list-product-panel-grid-header-column-one {
	vAlign: top;
	align: left;
	width: 10%;
	height: 32;
	text-align: left;
	font-size: 20pt;
}
.table-list-product-panel-grid-header-column-two {
	vAlign: top; 
	align: left;
	width: 80%;
	text-align: left;
}
.table-list-product-panel-grid-header-column-three {
	width: 10%;
	align: right;
	font-size: 20pt;
}
.table-list-product-panel-grid-footer {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: 1px solid #e3e3e3; 
	BORDER-TOP: 1px solid #e3e3e3; 
	BACKGROUND: #e3e3e3; 
	BORDER-LEFT: 1px solid #e3e3e3; 
	BORDER-BOTTOM: 1px solid #e3e3e3;
	text-align: left;
	vAlign:middle;
}

.table-list-product-panel-grid-data-grid {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: 0px solid #FFFFFF ; 
	BORDER-TOP: 0px solid #FFFFFF; 
	BORDER-LEFT: 0px solid #FFFFFF; 
	BORDER-BOTTOM: 0px solid #FFFFFF;
	background-color: transparent;
	}
.navigation-left-kitchen_appliance-product-panel-grid-data-grid {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	text-align:left;
	BORDER-RIGHT: 0px none #FFFFFF ; 
	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
	background-color: #FFFFFF;
	}

.page-header {
  PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BORDER-BOTTOM: #a9d5e9 1px solid; TEXT-ALIGN: left
}

.page-background {
  background-color: rgb(244, 247, 255);
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
}

.navigation-left-header {
  FONT-WEIGHT: bold; 
  FONT-SIZE: 14px; 
  COLOR: #0083b3; 
  TEXT-INDENT: 18px;
  vAlign: center;
  align: left;
  width: 189;
  height: 35;
  text-align: left;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.navigation-left-row {
	padding:0px 0px 0px 0px;
  	margin:0px 0px 0px 0px;
}

.toolbar-header {
  font-size: 14pt;
}

.toolbar-command {
  font-size: 9pt;
}

.toolbar-command-disabled {
  font-size: 9pt;
  text-color: grey;
}

.toolbar-command a:link, a:visited {
    text-decoration : none;
	color: #0000CC;
}

.toolbar-command a:hover {
    text-decoration : underline;
}

.toolbar-selected-command {
    font-size: 9pt;
}


.toolbar-icon {
    margin-left: 0px;
    margin-right: 10px;
    border: 0px;
    vertical-align: middle;
}

.toolbar-icon-label {
  padding-left: 5px;
}


.language-select
{
  font-size: 10pt;
  padding-right: 7px;
}

.language-select-button
{
  font-size: 10pt;
  border: 1px;
  border-style: solid;
  border-color: black;
  color: blue;
  padding: 1px;
}

.error-heading {
  font-size: 14pt;
  color: red;
}

.errors {
 /* background-color: rgb(233, 249, 244);*/
  font-weight: normal;
  font-size: 10pt;
  color: red;
}

.bottom-header {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  
}

.simple-text {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-color: #ACBECE;
}

/*****/

.form-background {
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
}

.form-footer {
  color: #FFFFFF;
  font-size: 75%;
  text-align: center;
}

.form-header {
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.form-prompt {
  color: #FFFFFF;
  margin: 3px 5px 3px 15px;
  text-align: right;
}

.form-field {
  text-align: left;
}

.form-row-even {
}

.form-row-odd {
  background-color: #717171;
}


.list-background {
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  width: 100%;
}

.list-column-center {
  text-align: center;
  width: 15%;
}

.list-column-left {
  text-align: left;
  width: 70%;
}

.list-column-right {
  text-align: right;
  width: 15%;
}

.list-header {
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.list-row-even {
}

.list-row-odd {
  background-color: #717171;
}

.select-columns-label {
	font-weight: bold;
    font-family: Arial;
	font-size: 10pt;
}

.select-columns {
    font-family: Arial;
	font-weight: normal;
	font-size: 10pt;
}
.small {
  font-size: 8pt;
  color: grey;
  font-family: Arial;
  font-style: italic;
}
.inplaceInputDisplay {
    width:400px;
    display:block;
}
.rich-mpnl-body {
	padding-left:0px;
	padding-right:0px;
	border: 0px;
}
.must-input-text {
	color: red;
}
.simple-toggle-panel-header {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BORDER: #a9d5e9 1px solid; TEXT-ALIGN: left;font-size:10pt;
}

.simple-toggle-panel-body {
	padding:0px 0px 0px 0px;
	margin-top-width:0px;
	margin-right-width:0px;
	margin-bottom-width:0px;
	margin-left-width:0px;
	font-size:10pt;
}
.error-messages {
	font-size: 10pt;
	font-weight: bold;
	color: red;
	background-image: url(${facesContext.externalContext.requestContextPath}/css/images/icons/create.gif);
	background-repeat: no-repeat;
	float: left;
}
.bold {
	font:bold 100%;
	font-size:12px;
	font-family: Arial
}
.rich-tab-header{
	top: 0px;
	left: 0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-family: Verdana, Arial;
	font-size:15pt;
	background:url(../css/images/icons/header_bg_inselect.gif) left bottom repeat-x;
	BORDER-RIGHT: 2px solid #a8d0f4; 
	BORDER-TOP: 2px solid #a8d0f4; 
	BORDER-LEFT: 2px solid #a8d0f4; 
	BORDER-BOTTOM: 2px solid #a8d0f4;
	}
.rich-tab-header-text{
	padding:0px 12px 0px 8px;
	margin:0px 0px 0px 0px;
	}
.rich-tab-style {
	
	}
.rich-tab-active {
				top: 0px;
				left: 0px;
				DISPLAY: block;
				background-attachment : fixed;
				float:left;
				padding: 0px 2px 0px 0px; 
				margin:0px 0px 0px 0px; 
				background:url(../css/images/icons/tabOn_right.gif) right top no-repeat;
				BORDER-RIGHT: #fff 0px solid; 
				BORDER-TOP: #fff 0px solid; 
				BORDER-LEFT: #fff 0px solid;
				BORDER-BOTTOM: #fff 0px solid;
				font-size: 14px;
				font-weight: bold;
				display:block; 
				color: gray; 
				text-align: center;
				line-height:28px;
				height:28px;
			}
.rich-tab-active label{
	padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-top: #a8d0f4 0px solid;
				border-right: #cccccc 0px solid;
				border-left: #dff3fe 0px solid;
				border-bottom: #a8d0f4 0px solid;
				float: left;
				height:28px;
				background:url(../css/images/icons/tabOn_left.gif) left top no-repeat;
	}
.rich-tab-inactive label{
	padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-top: #a8d0f4 0px solid;
				border-right: #cccccc 0px solid;
				border-left: #dff3fe 0px solid;
				border-bottom: #a8d0f4 0px solid;
				float: left;
				vAlign: bottom; 
				background:url(../css/images/icons/tabOff_left.gif) left top no-repeat;
	}
			.rich-tab-inactive {
				top: 0px;
				left: 0px;
				DISPLAY: block;
				background-attachment : fixed;
				float:left;
				padding: 0px 2px 0px 0px;
				margin:0px 0px 0px 0px; 
				background:url(../css/images/icons/tabOff_right.gif) right top no-repeat;
				BORDER-RIGHT: #fff 0px solid; 
				BORDER-TOP: #fff 0px solid; 
				BORDER-LEFT: #fff 0px solid;
				BORDER-BOTTOM: #fff 0px solid;
				font-size: 14px;
				font-weight: normal;
				display:block; 
				color: gray; 
				text-align: center;
				line-height:28px;
				height:28px;
			}


.rich-tabpanel-header {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				BORDER-RIGHT: 0px solid #ebebeb; 
				BORDER-TOP: 0px none #ebebeb; 
				BORDER-LEFT: 0px solid #ebebeb; 
				BORDER-BOTTOM: 0px solid #ebebeb;
}
.rich-tabpanel-content {
	padding: 0px 0px 0px 10px;
	margin: 0px 0px 0px 0px;
	BORDER-RIGHT: 1px solid #ebebeb; 
	BORDER-TOP: 0px none #ebebeb; 
	BORDER-LEFT: 1px solid #ebebeb; 
	BORDER-BOTTOM: 1px solid #ebebeb;
	
}

.rich-tabpanel-content-position {
	margin: 0;
	padding: 0;
	border-color: red;
}

.rich-tabhdr-side-border {
	padding: 0px px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.rich-tabhdr-side-border img {
	top: 0px;
	left: 0px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	width:0px;
	height:100%;
	}
/* set cell header cell*/
.rich-tabhdr-side-cell {
	margin:0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-width: 0px; 
	border-color: #66BFEC;
	height:28px;
}
.rich-tabhdr-cell-active{
				padding:0px 2px 0px 0px;
				margin:0px 0px 0px 0px;
				border-top: #a8d0f4 0px solid;
				border-right: #cccccc 0px solid;
				border-left: #dff3fe 0px solid;
				border-bottom: #a8d0f4 0px solid;
				float: left;
				height:28px;
			}
			.rich-tabhdr-cell-inactive{
				padding: 0px 2px 0px 0px;
				margin: 0px 0px 0px 0px;
				border-top: #a8d0f4 0px solid;
				border-right: #ffffff 0px solid;
				border-left: #a8d0f4 0px solid;
				border-bottom: #a8d0f4 0px solid;
				float: left;
				height:28px;
				background:url(../css/images/icons/tabOff_left.gif)) left bottom no-repeat;
			}
.rich-tab-bottom-line {
	margin:0px; 
	padding:0px 0px 0px 0px; 
	border-top: #a8d0f4 0px solid;
	border-right: #dff3fe 0px solid;
	border-left: #dff3fe 0px solid;
	border-bottom: #a8d0f4 0px solid;
	background:url(../css/images/icons/bg.gif) left bottom repeat-x;
}
.rich-tabpanel-content-text {
				padding: 0px 0px 0px 0px;
				margin: 0px 0px 0px 0px;
				font-family: Arial, sans-serif;
				font-size:15px;
  				text-align: left; 
  				background:url(../css/images/icons/container_bg.jpg) top 0px repeat-x;
  				color: #2c629e; 
			}		
			
.rich-tool-bar-style {
	top: 0px;
	left: 0px;
	DISPLAY: block;
	background-attachment : fixed;
	margin:0px 0px 0px 0px; 
	padding:0px 0px 0px 0px;
	height:36px;
	background: #6293bb url(../css/images/icons/n_bg_r.gif) repeat-x bottom left;
	font-size: 12px;
	font-weight: bold;
	text-indent: 0mm;
	color: #fff;
	
	
	}
.rich-tool-bar-first{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	FONT-FAMILY: Arial,sans-serif;
	background: #6293bb url(../css/images/icons/n_bg_r.gif) repeat-x bottom left;
	height:36px;
	width:20px;
	
}		
.rich-tool-bar-select{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	border:2px #f3f3f3 solid;
	FONT-FAMILY: Arial,sans-serif;
	background: #fff;
	color: #fff;
	
}
.rich-tool-bar-content-style{
	FONT-FAMILY: Arial,sans-serif;
	font-size: 14px;
	color:#fff;
	}
			
.template-left {
  font-size: 10pt;
  vertical-align:top;
  border-width: 0px 0px 0px 0px;
  width: 200px;
}
.template-content {
  font-size: 10pt;
  vertical-align:top;
  padding:0px 0px 0px 3px;
  margin-top-width:0px;
  margin-right-width:0px;
  margin-bottom-width:0px;
  margin-left-width:0px;
  width: 770px;
  min-width: 770px;
}
.template-right {
  font-size: 10pt;
  vertical-align:top;
  width: 1px;
}
.product-template-content {
  font-size: 10pt;
  vertical-align:top;
  padding:0px 0px 0px 0px;
  margin-top-width:0px;
  margin-right-width:0px;
  margin-bottom-width:0px;
  margin-left-width:0px;
  width:82%;
}
.product-template-right {
  font-size: 10pt;
  vertical-align:top;
  width:18%;
}
.template-column {
  font-size: 10pt;
  width:100%;
}
.template-left-number {
  font-size: 10pt;
  background-image: url(./images/icons/number.gif);
  background-repeat: no-repeat;
}
.left-navigation-product-header {
  top: 0px;
  left: 0px;
  height:26px;
  padding:1px 1px 1px 1px;
  margin:0px 0px 0px 0px;
  font-size: 16px;
  font-weight:bold;
  color:#666699;
  line-height:28px;
  TEXT-INDENT: 6px;
  background-position : top left;
  background:#ecf5fc;
  border:0px #f3f3f3 solid;
}
.left-navigation-product-body {
  top: 0px;
  left: 0px;
  height:auto;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-position : top left;
  border:1px #e3e3e3 solid;
}
.navigation-product-top-panel-bar-item-header {
  top: 0px;
  left: 0px;
  height:26px;
  padding:4px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  font-size: 14pt;
  BORDER-TOP: #a8d0f4 0px solid; 
  background:url(../css/images/icons/fenlei.gif) left -258px repeat-x;;
  BORDER-BOTTOM: #dff3fe 0px solid;
}
.navigation-product-top-panel-bar-item-header-label {
	float:left;
	padding-left:5px;
	line-height:30px;
	font-size:14px;
	color:#F87C14;
	}

.navigation-product-panel-bar-item {
  top: 0px;
  left: 0px;
  height:28px;
  padding:6px 0px 0px 6px;
  margin:0px 0px 0px 0px;
  font-size: 14px;
  background-image: url(../css/images/icons/productnav.gif);
  background-repeat: repeat;
  background-position : top left;
}
.kitchen-appliance-left-navigation-panel-bar-item-header {
  padding:0px 0px 0px 0px;
  margin:1px 1px 1px 1px;
  height:25px;
  font-size: 14px; 
  color: #ffffff;
  line-height: 24px; 
  text-indent: 1mm;
  font-family: sans-serif;
  background-image: url(../css/images/icons/l_t03.jpg);
  background-repeat: repeat;
  background-position : top left;
}
.navigation-panel-bar-left-header {
  top: 20px;
  left: 20px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.panel-bar-product-left {
	width: auto;height: auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
	}
.panel-bar-product-top {
	width: auto;height: auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: #cee1ee 1px solid; 
	BORDER-TOP: #cee1ee 1px solid; 
	BORDER-LEFT: #cee1ee 1px solid; 
	BORDER-BOTTOM: #cee1ee 1px solid; 
	BACKGROUND-COLOR: #f3faff;
	}
.operate-show-style{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:29px;
	background:url(../css/images/icons/product-show-style.gif) left top repeat-x;
	BORDER-RIGHT:1px #e3e3e3 solid;
	BORDER-LEFT:1px #e3e3e3 solid;
	BORDER-TOP:1px #e3e3e3 solid;
	BORDER-BOTTOM:1px #e3e3e3 solid;
	width:100%;
	}
.operate-show-style-column-one{
	padding:3px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	}
.main_header{
		background:url(../css/images/icons/top_bg.jpg) left 0px repeat;
		width:100%;
	}
.main_header_login_navigation{
	top:0;
	left:0;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border:0px #e3e3e3 solid;
	width:100%;
	}
.main_header_login_navigation_others{
	top: 0px;
  	left: 0px;
  	height:5px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position:relative;
	width:100%;
	}
.qnty_button{position:absolute;right:5px;top:4px;}
.qnty_button_visited{display:block;float:left;margin-right:2px;padding:2px;border:1px #bababa solid;background:#fff;color:#666;}
.qnty_button a:hover{border:1px #a3a3a3 solid;color:#454545;text-decoration:none;}
.qnty_button a.selected:link,.qnty_button a.selected:visited{display:block;float:left;margin-right:2px;padding:2px;border:1px #e27a00 solid;background:#fff799;color:#f26522;}
.qnty_button a.selected:hover{text-decoration:none;}


.underneath_iframe{
	position: absolute;
	z-index: 90;
	visibility:hidden;
	left:0px;
	top:0px;
	height:1px;
	width:1px;
}
.rich-menu-separator{
	font-size:0;
	border-top:1px solid;
	margin:2px 0 2px 24px;
	cursor:default;}
.rich-menu-item{
	padding:1px 35px 1px 1px;
	white-space:nowrap;
	position:relative;}
.rich-menu-group{
	padding:1px 35px 1px 1px;
	background:url(../css/images/icons/bj_liebiao.gif) center 50% no-repeat;;
	white-space:nowrap;
	position:relative;}
.rich-menu-item-enabled,.rich-menu-group-enabled{
	border:0 solid transparent;
	padding:1px 35px 1px 1px;}
.rich-menu-item-hover,.rich-menu-group-hover{
	padding:0px 35px 0px 0px;
	border:1px solid;
	cursor:pointer;}
.rich-menu-item-disabled,.rich-menu-group-disabled{
	border:0 solid transparent;
	cursor:default;}
.dr-menu-icon{
	margin-right:10px;}
.dr-menu-icon img{
	vertical-align:middle;}
.rich-menu-item a,.rich-menu-group a{
	text-decoration:none;}
.dr-menu-node{
	position:absolute;
	width:16px;
	height:16px;
	font-size:1px;
	top:1px;
	right:1px;}
.rich-menu-item-disabled .dr-menu-node,.rich-menu-group-disabled .dr-menu-node{
	background-position:bottom;}
.rich-menu-list-border{
	border:1px solid;
	float:left;
	position:absolute;}
.rich-menu-list-bg{
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	border-top-width:1px;
	border-left-width:1px;
	border-right-width:1px;
	background:repeat-y left;}
.dr-menu-label{
	left:0;
	top:0;
	padding:2px 5px 2px 5px;
	white-space:nowrap;
	width:auto;
	height:auto;}
.dr-menu-label-unselect{
	border:0 solid transparent;
	padding:3px 6px;}
.dr-menu-label-select{
	border:1px solid;
	cursor:pointer;}
.rich-menu-list-strut{
	font-size:0;
	border:0;
	margin:0;
	position:relative;}
.underneath_iframe{
	position:absolute;
	z-index:90;
	visibility:hidden;
	left:0;
	top:0;
	height:1px;
	width:1px;}
.rich-menu-separator{
	border-top-color:#88979D;}
.rich-menu-item,.rich-menu-item a,.rich-menu-item a:hover,.rich-menu-item a:visited{
	color:#bd0000;
	font-family:Arial,sans-serif;
	font-size:12px;}
.rich-menu-group,.rich-menu-group a{
	color:#bd0000;
	font-family:Arial,sans-serif;
	font-size:12px;}
.rich-menu-group a:hover,.rich-menu-group a:visited{
	color:#bd0000;
	font-family:Arial,sans-serif;
	background-color:#fff;
	font-size:12px;}
.rich-menu-item-disabled,.rich-menu-group-disabled{
	color:#6A92CF;}
.rich-menu-item-hover,.rich-menu-group-hover{
	background-position:top left;
	background-repeat:repeat-x;
	border-color:#E5973E;
	background-color:#FAE6B0;}
.dr-menu-node-icon{
	background-image:url(/a4j/g/3_3_1.CR3org.richfaces.renderkit.html.images.MenuNodeImage/DATB/eAFjYGA4PykLAAQBAcw_);}
.dr-label-text-decor{
	font-weight:bold;}
.rich-menu-list-border{
	border-color:#88979D;
	background-color:#EAF0F8;}
.rich-menu-list-bg{
	background-image:url(/a4j/g/3_3_1.CR3org.richfaces.renderkit.html.images.background.MenuListBackground/DATB/eAH78eHV673zmQAYJAUc);
	border-top-color:#EAF0F8;
	border-left-color:#EAF0F8;
	border-right-color:#EAF0F8;}
.dr-menu-label{
	font-family:Arial,Verdana,sans-serif;
	font-size:14px;}
.dr-menu-label-select{
	border-color:#88979D;
	background-color:#fff;
	color:#000;}
/* datatscr define  */
.rich-datascr{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:30px;
	}
.rich-dtascroller-table{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: #a8d0f4;
	border : 2px solid #ecf5fc;
	}
.rich-datascr-act{
	border-top-color:#F87C14;
	color:#ffffff;
	background-color:#F87C14;
	font-weight:bold;
	}
.rich-datascr-inact{
	border-top-color:#ffffff;
	color:#2c629e;
	font-weight:bold;
	background-color:#ffffff;
	}
.rich-datascr-button{
	background-color:#FFFFFF;
	border : 1px solid #f3f3f3;
	color: #a8d0f4;
	}
	
	
.no-product-find {
	padding:6px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	font-size :14px;
	color:red;
	font-weight:bold;
	}
.show-product-data-grid-row-zero {
  font-size: 12px;
  text-align:left;
  width:auto;
  color:#F87C14;
}
.show-product-data-grid-row-one {
  font-size: 12px;
  text-align:center;
}
.show-product-data-grid-row-two {
  font-size: 12px;
  text-align:left;
  font-weight:bold;
}
.show-product-data-grid-row-three {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-four {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-five {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-six {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-seven {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-eight{
  font-size: 12px;
  text-align:left;
  text-indent: 16mm;
  color: #999;
	}
.show-product-data-grid-price {
	font-weight:bold;
	color:#ff6513;
	}
.show-font-product-data-grid-column-one {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:18%;
  color: #999;
}
.show-font-product-data-grid-column-two {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:35%;
  color: #999;
}
.show-font-product-data-grid-column-three {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:25%;
  color: #999;
}
.show-font-product-data-grid-column-four {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:22%;
  color: #999;
}
.show-font-product-data-grid-row-one {
 	
}
.show-font-product-data-grid-row-two {
 	BACKGROUND: #fcf9e6;
}
.show-image-font-product-data-grid-column-one {
  font-size: 12px;
  text-align:left;
  text-indent: 22mm;
  width:20%;
  color: #999;
  background-color: transparent;
}
.show-image-font-product-data-grid-column-two {
  font-size: 12px;
  text-align:left;
  width:60%;
  color: #999;
  background-color: transparent;
}
.show-image-font-product-data-grid-column-three {
  font-size: 12px;
  text-align:center;
  width:20%;
  color: #999;
  background-color: transparent;
}
.show-image-font-product-data-grid-row-one {
  background-color: transparent;
  border:0px solid #e3e3e3;
}
.show-image-font-product-data-grid-row-two {
  background-color: transparent;
  border:0px #e3e3e3 none;
}
.show-product-data-grid-panel {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position: relative;
	width: 100%;
	min-height:300px;
	border : 0px solid #e3e3e3 ;
	background-color: transparent;
	}
.show-product-data-grid-panel-auto-height {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position: relative;
	width: 100%;
	border : 0px solid #e3e3e3 ;
	background-color: transparent;
	}
.main-header{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width:100%;
	}
.main-header-left{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 7px;
	background:url(../css/images/icons/topleft_bg.jpg) no-repeat;
	}
.main-header-center{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 100%;
	background:url(../css/images/icons/top_bg.jpg) repeat;
	}
.main-header-right{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 7px;
	background:url(../css/images/icons/topright_bg.jpg) no-repeat;
	}
.main-header-tabpanel-panel-grid {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border : 0px solid #FFFFFF;
				font-family: Arial, sans-serif;
				font-size:15px;
  				text-align: left; 
  				padding-right: 1em;
  				padding-left: 1em; 
  				padding-bottom: 0px; 
  				color: #2c629e;
			}
.main-header-tabpanel-content-class {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border : 0px solid #FFFFFF;
				
  				color: #2c629e;
}
.sub-main-header-left{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 20%;
	}
.sub-main-header-center{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 20%;
	}
.sub-main-header-right{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 60%;
	}
.rich-separator{
background-color:#ffffff;
}
.main-left-product-header{
  PADDING-RIGHT: 0px; 
  PADDING-LEFT: 0px; 
  FONT-SIZE: 14px;
  FONT-WEIGHT:BOLD;
  line-height:20px;
  TEXT-INDENT: 8px;
  BACKGROUND: url(../css/images/icons/main_product_header_top_bg.gif) no-repeat 0px 0px; 
  FLOAT: left; 
  PADDING-BOTTOM: 0px; 
  MARGIN: 0px 0px 0px 0px; 
  WIDTH: 140px; 
  HEIGHT:30px;
  PADDING-TOP: 6px;
  border:0px #f3f3f3 solid;
	}
.main-left-product-body {
  top: 0px;
  left: 0px;
  height:888px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color: #ffffff;
  border:1px #b8d4e8 solid;
}
.blue-button-style {
  background-color: #2c629e;
  font-size: 11px;  
  font-family: Arial, Helvetica, sans-serif;  
  color: #FFFFFF; 
  font-weight: bold; 
  height : 25px;
  border-left: #BACBD5 1px solid; 
  border-top: #BACBD5 1px solid; 
  border-bottom: #27454C 1px solid; 
  border-right: #27454C 1px solid;
  padding-left: 6px; 
  padding-right: 6px; 
  padding-top: 1px; 
  padding-bottom: 1px; 
}
.rich-pmenu {
			overflow: hidden;
			padding-right: 0px;
			font-color: #2c629e;
}
.rich-pmenu-top-group {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height: 28px;
	BORDER-TOP: #a8d0f4 1px solid; 
  	BACKGROUND: #ecf5fc; 
  	BORDER-BOTTOM: #dff3fe 1px solid;
	background-repeat: repeat-x;
	background-position: left top;
	cursor: pointer;
}
.rich-pmenu-disabled-element{
		BACKGROUND: red;
	}
.rich-pmenu-hovered-element{
		color: #2c629e;
		background: #ecf5fc;
	}
.rich-pmenu-top-group-self-icon{
	
	}
.rich-pmenu-top-group-self-label{
		font-weight:bold;
	}
.rich-pmenu-group{
		color: #2c629e;
	
	}
.rich-pmenu-group-self-icon{
	
	}
.rich-pmenu-group-self-label{
		font-weight:bold;
	}
.rich-pmenu-item{
	}
.rich-pmenu-item-icon{
	}
.rich-pmenu-item-label{
	}
.rich-pmenu-item-selected{
	color: #ffffff;
	}
/* this is for search head panelgrid*/
.header-search-panel-grid-one{
	width:20%;
	TEXT-ALIGN: right;
}
.header-search-panel-grid-two{
	width:50%;
	TEXT-ALIGN: center;
}
.header-search-panel-grid-three{
	width:30%;
	TEXT-ALIGN: left;
}
.header-navigation-panel{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
  	border:0px #b8d4e8 solid;
	}
.header-navigation-panel-grid{
	top:0px;
	left:0px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
  	border:0px red solid;
  	vertical-align: middle;
	}
.header-navigation-panel-grid td{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	color:#FFFFFF;
	text-align:left;
	background-color:#ffffff;
	BORDER-RIGHT:#f6f6f6 0px solid;
	BORDER-TOP: #f9f9f9 0px solid;
	BORDER-LEFT: #f9f9f9 0px solid;
	BORDER-BOTTOM: #f5f5f5 0px solid;
	}
.header-navigation-panel-grid-column-one{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background: url(../css/images/icons/leftright.gif) 0px 0px no-repeat;
	width: 1px;
	height: 34px;
	border-top-style:  none;  
    border-right-style:  none;  
    border-bottom-style:  none;  
    border-left-style:  none;
	}
.header-navigation-panel-grid-column-two{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:186px;
	background: url(../css/images/icons/allcategory_bg.jpg) 0px 0px repeat-x;
	border-top-style:  none;  
    border-right-style:  none;  
    border-bottom-style:  none;  
    border-left-style:  none;
	}
.header-navigation-panel-grid-column-three{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:43%;
	background: url(../css/images/icons/main_bg.gif) 0px 0px repeat-x;
	}
.header-navigation-panel-grid-column-four{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:40%;
	vAlign: middle;
	text-align:right;
	background: url(../css/images/icons/main_bg.gif) 0px 0px repeat-x;
	}
.header-navigation-panel-grid-column-five{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background: url(../css/images/icons/leftright.gif) -51px 0px no-repeat;
	width: 9px;
	text-align:left;
	height: 34px;
	}
.header-navigation-panel-grid-column-four LABEL{
	FONT-SIZE:12PX;
	FONT-WEIGHT:BOLD;
	COLOR:#FFFFFF;
	}
.product-detail-panel-grid-body-column-one {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:30%;
	text-align:center;
	align:center;
	}
.product-detail-panel-grid-body-column-two {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	width:70%;
	text-align:left;
	align:left;
	}
.product-detail-panel-grid-header-left {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/product-header-bg.gif) no-repeat left -241px; FLOAT: left; OVERFLOW: hidden; WIDTH: 4px; HEIGHT: 53px
}
.product-detail-panel-grid-header-right {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/product-header-bg.gif) no-repeat -4px -241px; FLOAT: right; OVERFLOW: hidden; WIDTH: 4px; HEIGHT: 53px
}.product-detail-panel-grid-header-center {
	padding:0px 0px 0px 6px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/product-header-title.gif) repeat-x; WIDTH: 100%; HEIGHT: 53px
}
.common-panel-grid-header-left {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/product-header-bg.gif) no-repeat left top; FLOAT: left; OVERFLOW: hidden;WIDTH:4px; HEIGHT: 28px;
}
.common-panel-grid-header-right {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/product-header-bg.gif) no-repeat -4px top; FLOAT: right; OVERFLOW: hidden; WIDTH: 4px; HEIGHT: 28px;
}
.common-panel-grid-header-center {
	padding:0px 0px 0px 6px;
	margin:0px 0px 0px 0px;BACKGROUND: url(../css/images/icons/common-center.gif) repeat-x; WIDTH: 100%; HEIGHT: 28px
}

.product-detail-font1 {
	FONT-SIZE: 15px; 
	OVERFLOW: hidden; 
	COLOR: #484848;
	FONT-WEIGHT:600;
	LINE-HEIGHT: 22px;
	}
.product-detail-font2 {
	FONT-WEIGHT: normal; 
	FONT-SIZE: 12px; 
	OVERFLOW: hidden;
	COLOR: #f60;
	}
.product-detail-common-font {
	FONT-SIZE: 14px; WORD-BREAK: break-all; LINE-HEIGHT: 180%; TEXT-ALIGN: left; WORD-WRAP: break-word;OVERFLOW-X: hidden; WIDTH: 100%;
	}
.product-detail-decoration-underline-font{	
	font-weight:normal;text-decoration:underline;
}
.product-detail-gray-font{	
	font-weight:bold;
	color:gray;
}
.product-image-in-shopping-cart {
	with:60px;
	height:60px;
	}
.shopping-cart-table-column1 {
	text-align:left;
	}
.shopping-cart-table-column2 {
	text-align:left;
	}
.shopping-cart-table-column3 {
	text-align:center;
	}
.shopping-cart-table-column4 {
	text-align:center;
	}
.shopping-cart-table-column5 {
	text-align:center;
	}
.shopping-cart-table-column6 {
	text-align:center;
	}
.shopping-cart-table-column7 {
	text-align:center;
	}
.shopping-cart-table-column8 {
	text-align:center;
	}
.shopping-cart-table-column-header{
	text-align:left;
	}
.rich-spinner-input-container{
	BORDER-RIGHT:#f6f6f6 2px solid;
	BORDER-TOP: #f9f9f9 2px solid;
	BORDER-LEFT: #f9f9f9 2px solid;
	BORDER-BOTTOM: #f9f9f9 2px solid;
	background:#ffffff;
	}
.rich-spinner-buttons{
	BORDER-RIGHT:#f6f6f6 2px solid;
	BORDER-TOP: #f9f9f9 2px solid;
	BORDER-LEFT: #f9f9f9 2px solid;
	BORDER-BOTTOM: #f9f9f9 2px solid;
	background:#f9f9f9;
	}
.button-default-style {
	BORDER-RIGHT:#f6f6f6 2px solid;
	BORDER-TOP: #f9f9f9 2px solid;
	BORDER-LEFT: #f9f9f9 2px solid;
	BORDER-BOTTOM: #f9f9f9 2px solid;
	background-color: #f9f9f9;
	padding-left: 6px; 
	padding-right: 6px; 
	padding-top: 1px; 
	padding-bottom: 1px; 
	}
.ButtonDefault  {
	margin:0px 16px 0px 0px;
	background-color: #f6f6f6;
	font-size: 12px; 
	BACKGROUND: url(../css/images/icons/common-center.gif) repeat-x;
	font-weight: bold;
	line-height:28px;
	border-left: #d6d6d6 1px solid; 
	border-top: #d6d6d6 0px solid; 
	border-bottom: #d6d6d6 1px solid; 
	border-right: #d6d6d6 1px solid;
	padding-left: 12px; 
	padding-right: 12px; 
	padding-top: 6px; 
	padding-bottom: 6px; 
	}
.vertical-align {
	vertical-align:middle;
}
.table-row-odd {
	background-color: #f5f5f5;
}
.table-row-even {
	background-color: #ffffff;
}