.hidelink{
	padding-top:2px;
	padding-right:1px;
	cursor:pointer;
}
.demo_fieldset {
	margin : 0px;
	border : 1px solid #ACBECE;
}

.demo_legend {
	font-weight : bold; 
	margin : 0px 10px 0px 18px;
	font-family: Verdana;
}

form {
	margin: 0;
	padding: 0;
}

* {
	font-family: Verdana,Arial;
}

p {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 12px;
	font-family: Verdana,Arial;
}

.footer-text {
	font-size: 10px;	
}

.page_brick{
	position : absolute;
	top : 0px;
	width : 100%;
} 

li{
	margin-top : 5px;
	margin-bottom : 5px;
	margin-left : -12px;
}
ul{
	margin-top : 10px;
	margin-bottom : 10px;
}

.sample-container {
	padding: 25px 25px 5px 25px;
}

.top_navbar{
	position : absolute;
	top : 2px;
	right : 0px;
	font-family : verdana;
	font-size : 11px;
}

input, select, textarea, button, keygen, isindex, legend, a {
	font-family : verdana;
}

.top_navbar td{
	padding : 5px 10px 7px 10px;
	background-position : left;
	background-repeat : repeat-y;
	background-color : transparent;
}
.top_navbar td a{
	color : #000000;
	text-decoration : none;
}
.top_navbar td a:hover{
	color : #000000;
	text-decoration : underline;
}
.skin_chooser{
	position : absolute;
	top : 0px;
	left : 294px;
	font-family : verdana;
	font-size : 11px;
	height : 26px;
}
.skin_chooser td{
	padding : 0px 0px 0px 10px;
	background-color : transparent;
}
.skin_chooser td a{
	color : #7795AF;
	text-decoration : none;
}
.skin_chooser td a:hover{
	color : #7795AF;
	text-decoration : underline;
}
.skin_chooser .skin_line{
	font-family : verdana;
	font-size : 11px;
}
.skin_chooser .skin_line .control a{
	color : #7795AF;
	text-decoration : none;
}
.skin_chooser .skin_line .control a:hover{
	color : #7795AF;
	text-decoration : underline;
}
.skin_chooser .skin_line a{
	color : #000000;
	text-decoration : none;
}
.skin_chooser .skin_line a:hover{
	color : #000000;
	text-decoration : underline;
}


.left_menu{
	position : absolute;
	z-index : 10;
	top : 71px;
	left : 28px;
	width : 222px;
}
.panel_documents{
	background-color: transparent;
	border : 1px solid #FFFFFF;
	padding : 10px 10px 10px 20px;
	border-bottom:none;
}
.panel_documents div{
	background-color: transparent;
	font-family : verdana;
	font-size : 11px;
	border:0;
	padding:0;
}

.panel_documents a{
	color : #000000;
	text-decoration : none;
}
.panel_documents a:hover{
	color : #000000;
	text-decoration : underline;
}

.menu_separator{
	background-color : #ACBECE;
	height : 5px;
	font-size : 1px;
}

.panel_menu{
	background-color : transparent;
	border : 1px solid #FFFFFF;
	border-bottom : 0px;
	background-position : left;
	background-repeat : repeat-y;
	background-color : transparent;	
	padding : 0px 2px 0px 2px;
}
	html>body .panel_menu {
		padding : 0;
	}

	.rich-panelbar-interior  {
	    zoom: 1;
	}
	
.panel_menu div {
    background-color:transparent;
    padding:0;
}

.panel_menu div.rich-panelbar {
    border-color: #ACBECE;

}

.panel_menu div.rich-panelbar-header, .panel_menu div.rich-panelbar-header-act{
    background-color: #E4EAEF;
    background-image:none;
    padding:3px 10px 3px 20px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color: black;
}
.panel_menu .rich-panelbar-content {
   padding:1px 5px 1px 10px;


}

.panel_menu a {
	color : #000000;
	text-decoration : none;
}

.panel_menu table .unactive .ico{
	border : 1px solid #FFFFFF;
}
.panel_menu table .active .ico{
	border : 1px solid #ACBECE;
}
.panel_menu table .active .text{
	color : #FFFFFF;
	font-family : verdana;
	font-size : 11px;
	background-color : #ACBECE;
	padding-left : 10px
}
.panel_menu table * .bold{
	font-weight:bold;
}
.panel_menu table .unactive .text{
	font-family : verdana;
	font-size : 11px;
	padding-left : 10px
}
.text {
	cursor : pointer;
	padding:0px 0px 0px 10px;
}

 .selected-new {
	
	vAlign: center; 
	align:left; 
	height:35;
}

 .selected-new-span {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 14px; 
	COLOR: #0083b3; 
	TEXT-DECORATION: none;
	margin-left: 26px;
	TEXT-INDENT: 18px;
	vAlign: center; 
	align:left; 
}

.current-selected_label {
	FLOAT: left; COLOR: #7d7d7d; FONT-FAMILY: Arial;FONT-WEIGHT:BOLD;
}
.current-selected {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; DISPLAY: inline-table; BACKGROUND: #a8d0f4; COLOR: #ffffff; font-size:12px;
}
.current-product-show-number {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 0px; PADDING-TOP: 3px; DISPLAY: inline-table; BACKGROUND: #a8d0f4; COLOR: #ffffff; font-size:12px;
}
.top-product-navigation-option {
	DISPLAY: table-column; FLOAT: left; MARGIN: 0px 5px; LINE-HEIGHT: 150%; WHITE-SPACE: nowrap; font-size:12px;
}

 .ico{
	cursor : pointer;
	padding-top:1px;
	padding-right:3px;
	padding-bottom:1px;
	padding-left:3px; 
	
}

.component_name{
	position : absolute;
	top : 124px;
	left : 290px;
}

.content_container{
	position : absolute;
	top : 176px;
	left : 0px;
}
.content_container_pdddings{
	padding : 0px 35px 35px 0px;
}
.content_container_left_brick{
	background-color : transparent;
	width : 294px;
}

.footer{
	border-top : 2px solid #ACBECE;
	text-align : right;
	height : 50px;
	font-family : verdana;
	font-size : 11px;
	padding : 0px 15px 0px 0px;
}
.content_tab {
	background-color: transparent; 
	border-width:0;
	background-position : top left;
	background-repeat : no-repeat;
	font-family: Verdana, Arial;
}

.source_frame {
	border: 1px solid #ACBECE; 
	margin: 8px 0px 15px 0px;
	width: 100%; 
	height:300px;
}

.vertical-align-top {
	vertical-align: top;
}

.TableHeadingColor {
	background-color:#E9EEF2;
}
table.doctable {
	border:1px solid #CCC;
	border-left-width:0px;
	border-bottom-width:0px;
	margin: 10px 0;
}
table.doctable td {
	border:0px solid #CCC;
	border-left-width:1px;
	border-bottom-width:1px;
}

/*RF-4207*/
.rich-mpnl-controls {
	z-index: 1;
}
/* add */
td.lp { padding-left:10px }
td.lrp { padding-left:10px; padding-right: 10px }
td.google_ads { padding:5px 10px; cursor:pointer; cursor:hand }
td.lrpB3Y { padding-left:10px; padding-right: 10px; border-bottom: #FFE351 solid 2px }
td.nav-new-1-pixel { 
   border-left: #BBD6EF solid 1px; 
   border-right: #BBD6EF solid 1px; 
   border-bottom: #BBD6EF solid 1px; 
   padding-left:10px; 
   padding-right: 10px; 
   padding-top: 4px; 
   padding-bottom: 4px 
}
td.nav-new-1-pixel-nobb {
   border-left: #BBD6EF solid 1px;
   border-right: #BBD6EF solid 1px;
   padding-left:10px;
   padding-right: 10px;
   padding-top: 4px;
   padding-bottom: 4px
}
td.nav-new-1-pixel-store { 
   border-left: #FFC426 solid 1px; 
   border-right: #FFC426 solid 1px; 
   border-bottom: #FFC426 solid 1px; 
   padding-left:10px; 
   padding-right: 10px; 
   padding-top: 4px; 
   padding-bottom: 4px 
}
td.nav-new-3-pixel { border-right: #BBD6EF solid 1px; border-bottom: #BBD6EF solid 3px; padding-left:10px; padding-right: 10px; padding-top: 4px; padding-bottom: 4px }
td.padLR10bordB1 
{
   border-bottom: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px
}
td.padLR10bordRB1 
{
   border-bottom: #BBD6EF solid 1px;
   border-right: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px
}
.cbGrayText{font-family:arial,helvetica,sans-serif;font-size:10px;color:#555;}
.cbBtnA { font-family:arial,helvetica,sans-serif; font-weight:bold; font-size:12px; text-decoration:none; text-align:center; color:#060; padding:3px 5px 4px; background-image: url(http://img.shopping.com/sc/pr/fade.gif); background-repeat: repeat-x; background-color:#eff9ed; border:1px dashed #ccc;white-space:nowrap;margin:0 auto;}
.cbBtnA a:link,.cbBtnA a:visited,.cbBtnA a:active {text-decoration:none;color:#060;}
.cbBtnA a:hover {text-decoration:underline;color:#090;}
.cbBtnAln1{display:block;line-height:10px;}
.cbBtnB {font-weight:normal;font-size:10px;line-height:9px;}
.cbBtnC {text-decoration:underline;font-weight:normal;font-size:10px;line-height:9px}
#cbRange {font-weight:bold;padding-right:5px; color:#060}
.boxDots {border:dashed #ccc 2px; padding:10px 0px; margin-bottom:7px;background-image: url(http://img.shopping.com/sc/pr/fade.gif);background-repeat: repeat-x; background-color:#eff9ed;}
.cbBtnD a:link,.cbBtnD a:visited,.cbBtnD a:active {text-decoration:none;color:#060;}
.cbBtnD a:hover {text-decoration:underline;color:#090;}
.cbBtnE {font-weight:normal;font-size:12px;line-height:12px;}
.cbBtnF {text-decoration:underline;line-height:12px;}
.cbBtnG{font-weight:bold; color:#060;}
.cbBtnH {font-weight:normal;font-size:2px;line-height:2px;}
h1.title {
   font-family:arial,helvetica,sans-serif;
   font-size:120%;
   line-height:100%;
   color:#000000 ;
   font-weight:normal;
   margin:0px; 
   padding-top:10px;
}
div.subtitle {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   line-height:100%;
   color:#000000 ;
   font-weight:normal;
   margin:0px; 
   padding-top:10px;   
}
#list {
   float:left;
   clear:none;
   line-height:150%; 
}
div#header {
   background-image: url(http://img.epinions.com/images/epi_images/e3/tab_line.gif);
   background-position: 0px 100%;
   background-repeat: repeat-x;
   border-bottom: #BBD6EF solid 4px
}
table.taxbox {
   margin:5px 0px 15px 5px;
}
dl.taxbox {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:black;
}
dl.taxbox dt{
   font-weight:bold;
}
dl.taxbox dd {
   margin-left:5px; 
   padding:3px 0px;
}
dl.taxbox tt {
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:#7d7d7d;
}
table#home-tax td{
   padding:4px 7px
}
table#home-tax big{
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   font-weight:bold; 
   color:#000000
}
table#home-tax small{
   font-family:arial,helvetica,sans-serif; 
   font-size:70%; 
   color:#000000
}
table#topn td.info {
   padding:0px 10px 10px 10px;
   border-bottom:#FFE351 solid 1px;
}
table#topn td.mtitle {
   padding:5px 0px 5px 10px;
   border-bottom:#FFE351 solid 1px;
}
table#topn td.mangle {
   vertical-align:top;
   border-top:#FFE351 solid 1px;
}
table#product-list tr.prod{
   background-color:#FFFFFF;   
}
table#product-list tr.prod td {
   border-bottom: #BBD6EF solid 1px;
   padding-left: 10px;
   padding-right: 10px;   
}
table#product-list tr.prod b {
   font-family:arial,helvetica,sans-serif;
   font-size:80%; font-weight:bold;
   color:#000000;
   padding-bottom:2px;  
}
table#raw-offer td{   
   padding:5px 10px 5px 10px;
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   font-weight:bold; 
   color:#000000
}
table#raw-offer td.txt{   
   font-weight:normal; 
   color:#7D7D7D
}
table#raw-offer td.txt b{   
   font-weight:bold; 
   color:black
}
table#wtb {
}
table#wtb tr.reg td{
   border-top:2px solid #bbd6ef;
   padding:5px 7px;
   background-color:white;
}
table#wtb tr.smart td{
   border-top:2px solid #bbd6ef;
   padding:5px 7px;
   background-color:#FFFFC7;
}
table#wtb tr.reg_border td{
   padding:5px 7px;
   border-left: #bbd6ef solid 1px;
   border-top:2px solid #bbd6ef;
   background-color:white;
}
table#wtb tr.smart_border td{
   padding:5px 7px;
   border-left: #bbd6ef solid 1px;
   border-top:2px solid #bbd6ef;
   background-color:#eff7ff;
}
table#wtb tr.header td{
   padding:3px 7px;
   font-family:arial,helvetica,sans-serif;
   font-size:80%;
   color:#000000;
   border-left: #BBD6EF solid 1px;
}
table#wtb td.logo-f{
   padding:5px 5px;
}
table#wtb td.logo-r{
   padding:5px 3px;
}
td.rev-section-title {
   font-family:arial,helvetica,sans-serif; 
   font-size:80%; 
   color:black;
   border-bottom: #BBD6EF solid 1px; 
   border-left: #BBD6EF solid 1px; 
   padding:4px 10px 4px 10px; 
}
td.rev-comment {
   border-left: #BBD6EF solid 1px; 
   padding:10px 10px 4px 10px;    
}
hr {
   border:0; 
   background-color:#cccccc;
}
.xkb { width:100%; position:absolute; valign:middle; cellpadding:0; cellspacing:0; top:0px }
.xkr { font-family:arial,helvetica,sans-serif; font-size:120%; color:#000000 }
.xgr { font-family:arial,helvetica,sans-serif; font-size:120%; color:#7D7D7D }
.lkr { font-family:arial,helvetica,sans-serif; font-size:87%;  color:#000000 }
.lkb { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#000000 }
.lwb { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#FFFFFF }
.lrb  { font-family:arial,helvetica,sans-serif; font-size:87%; font-weight:bold; color:#FF0000 }
.rkr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#000000 }
.rkb  { font-family:arial,helvetica,sans-serif; font-size:80%; font-weight:bold; color:#000000 }
.rgb  { font-family:arial,helvetica,sans-serif; font-size:80%; font-weight:bold; color:#7D7D7D }
.rgr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#7D7D7D }
.skr  { font-family:arial,helvetica,sans-serif; font-size:60%;aling:center;}
.sgr  { font-family:arial,helvetica,sans-serif; font-size:60%; color:#7D7D7D }
.rrr  { font-family:arial,helvetica,sans-serif; font-size:80%; color:#FF0000 }
.srr  { font-family:arial,helvetica,sans-serif; font-size:60%; color:#FF0000 }
a:link { color:#3366cc }
a:visited { color:#264c99 }
a:active { color:#Ef6700 }
.d-x { font-family:arial,helvetica,sans-serif; font-size:110% }
.d-l { font-family:arial,helvetica,sans-serif; font-size:100% }
.d-r { font-family:arial,helvetica,sans-serif; font-size:80% }
.d-s { font-family:arial,helvetica,sans-serif; font-size:70% } 
.f-x { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:110% }
.f-l { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:100% }
.f-r { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:80% }
.f-s { font-family:arial,helvetica,sans-serif; color:#Ef6700; font-size:70% } 
.l-x { font-family:arial,helvetica,sans-serif; color:#999999; font-size:110% }
.l-l { font-family:arial,helvetica,sans-serif; color:#999999; font-size:100% }
.l-r { font-family:arial,helvetica,sans-serif; color:#999999; font-size:80% }
.l-s { font-family:arial,helvetica,sans-serif; color:#999999; font-size:70% } 
.a-x { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:110% }
.a-l { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:100% }
.a-r { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:80% }
.a-s { font-family:arial,helvetica,sans-serif; color:#CC0000; font-size:70% } 
.sbmt { font-weight:bold; font-size:11px; background-color:#dedede }
.deals td{padding: 15px 5px 15px 5px; border-top: 1px solid #ccc}
.deals .first td{border-top:0px}
.price{ font-family:arial,helvetica,sans-serif; font-weight:bold; font-size:110%; margin:5px 0 }
a.price:link{text-decoration:none}
a.price:hover{text-decoration:underline}
div.reviews{margin:5px 0}

/* define self */
.headerStyle  {align:center; border:0; cellpadding:0; cellspacing:0; width:970px}
.contentStyle  {align:center; border:3; cellpadding:0; cellspacing:0; width:970px;}
.headerMiddleStyle  {align:center; border:0; cellpadding:0; cellspacing:0; width:970px}
.allStyle {width:90%;align:center}
.login-heading {
  font-family: Arial, sans-serif;
  font-size: 26pt;
  font-weight: normal;
  text-align: left;
}

.user-name {
  font-family: Arial, sans-serif;
  font-size: 9pt;
  text-indent: 1px;
  text-align: left;
}

.table-background {
  BORDER-RIGHT: #f5fcff 0px solid; BORDER-TOP: #f5fcff 0px; MARGIN: 0px; BORDER-LEFT: #f5fcff 0px solid; WIDTH: 100%; BORDER-BOTTOM: #f5fcff 0px solid;
  border: 1px outset #71A5A5;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  width: 100%;
}

.project-background {
  background-color: rgb(233, 249, 244);
  border: 2px outset #71A5A5;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  width: 100%;
}

.project-row {
  font-size: 10pt;
  background-color: rgb(233, 249, 244);
}

.project-data {
  font-size: 10pt;
  color: rgb(42, 47, 255);
}

.project-input {
  font-size: 10pt;
}

.box {
  border: 2px outset #71A5A5;
  border-collapse: collapse;
}
.table-header {
  font-weight: bold;
  PADDING-RIGHT: 0.5em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 120%; PADDING-TOP: 2px; BORDER-BOTTOM: #a9d5e9 1px solid; TEXT-ALIGN: left
}

.table-header a:link {
  color: black;
}

.table-header a:hover {
  color: blue;
}
.table-row {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
  	font-size: 10pt;
  	background: #FFFFFF;
}
.table-odd-row {
  font-size: 10pt;border:0px solid;
  background-color: rgb(233, 249, 244);
}

.table-even-row {
  font-size: 10pt;
  background-color: rgb(232, 255, 225);
}

.table-odd-column {
  font-size: 10pt;
  background-color: rgb(233, 249, 244);
}

.table-one-column {
  font-size: 10pt;
  width:10%;
  text-align: right;
}
.table-two-column {
  font-size: 10pt;
  width:40%;
}
.table-three-column {
  font-size: 10pt;
  width:50%;
}
.table-even-column {
  font-size: 10pt;
  background-color: rgb(232, 255, 225);
}

.table-simple-row {
  font-size: 10pt;
}
.table-list-product-column {
  font-size: 12pt;
  align: left;
}
.table-list-product-panel-grid {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  font-size: 10pt;
  BORDER-RIGHT: 0px solid #f5fcff; 
  BORDER-TOP: 0px solid #f5fcff; 
  BORDER-LEFT: 0px solid #f5fcff; 
  BORDER-BOTTOM: 0px solid #f5fcff; 
  BACKGROUND: #f7f7f7;
  min-height: 500px;
}
.table-list-product-panel-grid-main-column {
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.table-list-product-panel-grid-column {
  	font-size: 12pt;
  	align: left;
  	width:25%;
  	BORDER-RIGHT: 0px none #FFFFFF ; 
  	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
	BACKGROUND: #f7f7f7;
}
.table-list-product-left-panel-grid-column {
  	font-size: 12pt;
  	align: left;
  	width:25%;
  	BORDER-RIGHT: 0px none #FFFFFF ; 
  	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
}

.table-list-product-panel-grid-header {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-top: #a8d0f4 1px solid; 
	background: #ecf5fc; 
	border-right: #dff3fe 1px solid;
	border-left: #dff3fe 1px solid;
	border-bottom: #dff3fe 1px solid;
	height: 29px;
	text-align:LEFT;
	font-size:12px;
	color:#F87C14;
}
.table-list-product-panel-grid-header-column-one {
	vAlign: top;
	align: left;
	width: 10%;
	height: 32;
	text-align: left;
	font-size: 20pt;
}
.table-list-product-panel-grid-header-column-two {
	vAlign: top; 
	align: left;
	width: 80%;
	text-align: left;
}
.table-list-product-panel-grid-header-column-three {
	width: 10%;
	align: right;
	font-size: 20pt;
}
.table-list-product-panel-grid-footer {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-TOP: #dff3fe 1px solid;
	BORDER-RIGHT: #dff3fe 1px solid;
	BORDER-LEFT: #dff3fe 1px solid; 
	BACKGROUND: #ecf5fc; 
	BORDER-BOTTOM: #a8d0f4 1px solid;
}

.table-list-product-panel-grid-data-grid {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: 0px solid #FFFFFF ; 
	BORDER-TOP: 0px solid #FFFFFF; 
	BORDER-LEFT: 0px solid #FFFFFF; 
	BORDER-BOTTOM: 0px solid #FFFFFF;
	}
.navigation-left-kitchen_appliance-product-panel-grid-data-grid {
	BORDER-RIGHT: 0px none #FFFFFF ; 
	BORDER-TOP: 0px none #FFFFFF; 
	BORDER-LEFT: 0px none #FFFFFF; 
	BORDER-BOTTOM: 0px none #FFFFFF;
	background-color: #FFFFFF;
	}

.page-header {
  PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BORDER-BOTTOM: #a9d5e9 1px solid; TEXT-ALIGN: left
}

.page-background {
  background-color: rgb(244, 247, 255);
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
}

.navigation-left-header {
  FONT-WEIGHT: bold; 
  FONT-SIZE: 14px; 
  COLOR: #0083b3; 
  TEXT-INDENT: 18px;
  vAlign: center;
  align: left;
  width: 189;
  height: 35;
  text-align: left;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.navigation-left-row {
	padding:0px 0px 0px 0px;
  	margin:0px 0px 0px 0px;
}

.toolbar-header {
  font-size: 14pt;
}

.toolbar-command {
  font-size: 9pt;
}

.toolbar-command-disabled {
  font-size: 9pt;
  text-color: grey;
}

.toolbar-command a:link, a:visited {
    text-decoration : none;
	color: #0000CC;
}

.toolbar-command a:hover {
    text-decoration : underline;
}

.toolbar-selected-command {
    font-size: 9pt;
}


.toolbar-icon {
    margin-left: 0px;
    margin-right: 10px;
    border: 0px;
    vertical-align: middle;
}

.toolbar-icon-label {
  padding-left: 5px;
}


.language-select
{
  font-size: 10pt;
  padding-right: 7px;
}

.language-select-button
{
  font-size: 10pt;
  border: 1px;
  border-style: solid;
  border-color: black;
  color: blue;
  padding: 1px;
}

.error-heading {
  font-size: 14pt;
  color: red;
}

.errors {
 /* background-color: rgb(233, 249, 244);*/
  font-weight: normal;
  font-size: 10pt;
  color: red;
}

.bottom-header {
  font-family: Arial, sans-serif;
  font-size: 10pt;
  text-align: left;
  
}

.simple-text {
  font-family: Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  font-color: #ACBECE;
}

/*****/

.form-background {
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
}

.form-footer {
  color: #FFFFFF;
  font-size: 75%;
  text-align: center;
}

.form-header {
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.form-prompt {
  color: #FFFFFF;
  margin: 3px 5px 3px 15px;
  text-align: right;
}

.form-field {
  text-align: left;
}

.form-row-even {
}

.form-row-odd {
  background-color: #717171;
}


.list-background {
  background-color: #7171A5;
  border: 5px outset #71A5A5;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 14pt;
  padding: 10px;
  width: 100%;
}

.list-column-center {
  text-align: center;
  width: 15%;
}

.list-column-left {
  text-align: left;
  width: 70%;
}

.list-column-right {
  text-align: right;
  width: 15%;
}

.list-header {
  background-color: #A5A5A5;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.list-row-even {
}

.list-row-odd {
  background-color: #717171;
}

.select-columns-label {
	font-weight: bold;
    font-family: Arial;
	font-size: 10pt;
}

.select-columns {
    font-family: Arial;
	font-weight: normal;
	font-size: 10pt;
}
.small {
  font-size: 8pt;
  color: grey;
  font-family: Arial;
  font-style: italic;
}
.inplaceInputDisplay {
    width:400px;
    display:block;
}
.rich-mpnl-body {
	padding-left:0px;
	padding-right:0px;
	border: 0px;
}
.must-input-text {
	color: red;
}
.simple-toggle-panel-header {
	PADDING-RIGHT: 0em; PADDING-LEFT: 0.5em; BACKGROUND: #e1f2fa; PADDING-BOTTOM: 0px; COLOR: #006699; LINE-HEIGHT: 200%; PADDING-TOP: 0px; BORDER: #a9d5e9 1px solid; TEXT-ALIGN: left;font-size:10pt;
}

.simple-toggle-panel-body {
	padding:0px 0px 0px 0px;
	margin-top-width:0px;
	margin-right-width:0px;
	margin-bottom-width:0px;
	margin-left-width:0px;
	font-size:10pt;
}
.error-messages {
	font-size: 10pt;
	font-weight: bold;
	color: red;
	background-image: url(${facesContext.externalContext.requestContextPath}/css/images/icons/create.gif);
	background-repeat: no-repeat;
	float: left;
}
.bold {
				font:bold 100%;
				font-size:12px;
				font-family: Arial
			}
			.dr-tbpnl-tbcell-act{
			border:100px;
			}
			.rich-tabhdr-cell-active{
			border:100px;
			}
			.rich-tab-header {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				font-family: Verdana, Arial;
				font-size:15pt;
				height:30px;
				border:0px solid red;
			}
			.richTabClass {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width:0px;
			}
			
			.rich-tab-style {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width:0px;
				color:red;
			}
			
			
			.rich-tab-active {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				DISPLAY: block;
				BACKGROUND: url(../css/images/icons/active_tab_bg.gif) no-repeat 0px 0px;
				FLOAT: left;
				background-attachment : fixed;
				font-size: 14px;
				font-weight: bold;
				text-indent: 1mm;
				line-height: 16px;
				color: black;
				height:30px;
				width:72px;
			}
			
			.rich-tab-inactive {
    			padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				DISPLAY: block;
				BACKGROUND: url(../css/images/icons/tab_bg.gif) no-repeat 0px 0px; 
				FLOAT: left;
				background-attachment : fixed;
				font-size: 12px;
				font-weight: bold;
				text-indent: 1mm;
				line-height: 33px;
				color: #2c629e;
				height:30px;
				width:72px;
			}
			.rich-tab-label{
				color:red;
			
			}
			.dr-tbpnl-tbbrdr {
				padding: 0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width:0px;
				border-style:none;
			}
			.rich-tabhdr-side-border {
				padding: 0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width:0px;
				border-style:none;
			}
			.rich-tab-disabled {
				font-size: 12px; 
				font-family: fantasy; 
				color:gold;
			}
			
			.rich-tabhdr-cell-inactive, .rich-tabhdr-cell-disabled {
				padding: 0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
			}
			.rich-tabpanel {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border: 0px solid #66BFEC;
			}
			
			.rich-tabpanel-content-position {
				top: 0px;
				left: 0px;
			}
			
			.rich-tabpanel-content {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width: 0px; 
				border-color:#FFFFFF;
				background-color:#FFFFFF;
				height:45px;
			}.header-menu-btn {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border-width: 0px 0px 0px 0px;
				border-style:outset;
				background-repeat: repeat-x;
			}
			.rich-tabpanel-panel-grid {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border : 0px solid #FFFFFF;
				font-family: Arial, sans-serif;
				font-size:15px;
  				text-align: left; 
  				padding-right: 1em;
  				padding-left: 1em; 
  				padding-bottom: 0px; 
  				color: #2c629e;
			}
			.rich-tabpanel-content-text {
				font-family: Arial, sans-serif;
				font-size:15px;
  				text-align: left; 
  				padding-right: 1em;
  				padding-left: 1em; 
  				padding-bottom: 0px; 
  				color: #2c629e; 
			}
			
.template-left {
  font-size: 10pt;
  vertical-align:top;
  border-width: 0px 0px 0px 0px;
  width:140;
}
.template-content {
  font-size: 10pt;
  vertical-align:top;
  padding:0px 0px 0px 3px;
  margin-top-width:0px;
  margin-right-width:0px;
  margin-bottom-width:0px;
  margin-left-width:0px;
  width:820px;
  min-width:820px;
}
.template-right {
  font-size: 10pt;
  vertical-align:top;
  width:1px;
}
.product-template-content {
  font-size: 10pt;
  vertical-align:top;
  padding:0px 0px 0px 0px;
  margin-top-width:0px;
  margin-right-width:0px;
  margin-bottom-width:0px;
  margin-left-width:0px;
  width:82%;
}
.product-template-right {
  font-size: 10pt;
  vertical-align:top;
  width:18%;
}
.template-column {
  font-size: 10pt;
  width:100%;
}
.template-left-number {
  font-size: 10pt;
  background-image: url(./images/icons/number.gif);
  background-repeat: no-repeat;
}
.left-navigation-product-header {
  top: 0px;
  left: 0px;
  height:26px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  font-size: 16px;
  font-weight:bold;
  color:#666699;
  line-height:28px;
  TEXT-INDENT: 6px;
  background-image: url(../css/images/icons/siteactivemenubg.gif);
  background-position : top left;
  border:0px #f3f3f3 solid;
}
.left-navigation-product-body {
  top: 0px;
  left: 0px;
  height:auto;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-position : top left;
  border:1px #e3e3e3 solid;
}
.navigation-product-top-panel-bar-item-header {
  top: 0px;
  left: 0px;
  height:30px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  font-size: 14pt;
  BORDER-TOP: #a8d0f4 1px solid; 
  BACKGROUND: #ecf5fc; 
  BORDER-BOTTOM: #dff3fe 1px solid;
}
.navigation-product-top-panel-bar-item-header-label {
	float:left;
	padding-left:5px;
	line-height:30px;
	background-image:url(../css/images/icons/list.gif) 12px 5px no-repeat;
	font-size:14px;
	color:#F87C14;
	}

.navigation-product-panel-bar-item {
  top: 0px;
  left: 0px;
  height:28px;
  padding:6px 0px 0px 6px;
  margin:0px 0px 0px 0px;
  font-size: 14px;
  background-image: url(../css/images/icons/productnav.gif);
  background-repeat: repeat;
  background-position : top left;
}
.kitchen-appliance-left-navigation-panel-bar-item-header {
  padding:0px 0px 0px 0px;
  margin:1px 1px 1px 1px;
  height:25px;
  font-size: 14px; 
  color: #ffffff;
  line-height: 24px; 
  text-indent: 1mm;
  font-family: sans-serif;
  background-image: url(../css/images/icons/l_t03.jpg);
  background-repeat: repeat;
  background-position : top left;
}
.navigation-panel-bar-left-header {
  top: 20px;
  left: 20px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
}
.panel-bar-product-left {
	width: auto;height: auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	BORDER-RIGHT: #cccccc 1px solid; 
	BORDER-TOP: #cccccc 1px solid; 
	BORDER-LEFT: #cccccc 1px solid; 
	BORDER-BOTTOM: #cccccc 1px solid;
	}
.panel-bar-product-top {
	width: auto;height: auto;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-width:0px;
	border-color:#a1d04e;
	}
.operate_title{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position:relative;
	height:29px;
	background:url(../css/images/icons/product-show-style.gif) left 0px repeat;
	border:1px #e3e3e3 solid;
	width:100%;
	}
.main_header{
		background:url(../css/images/icons/top_bg.jpg) left 0px repeat;
		width:100%;
	}
.main_header_login_navigation{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:8px;
	border:0px #e3e3e3 solid;
	background:url(../css/images/icons/headerlogin_bg.jpg) left 0px repeat;
	width:100%;
	}
.main_header_login_navigation_others{
	top: 0px;
  	left: 0px;
  	height:5px;
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position:relative;
	width:100%;
	}
.qnty_button{position:absolute;right:5px;top:4px;}
.qnty_button_visited{display:block;float:left;margin-right:2px;padding:2px;border:1px #bababa solid;background:#fff;color:#666;}
.qnty_button a:hover{border:1px #a3a3a3 solid;color:#454545;text-decoration:none;}
.qnty_button a.selected:link,.qnty_button a.selected:visited{display:block;float:left;margin-right:2px;padding:2px;border:1px #e27a00 solid;background:#fff799;color:#f26522;}
.qnty_button a.selected:hover{text-decoration:none;}

.dr-menu-separator {
	font-size : 0px;
	border-top: 1px solid;
	margin : 2px 0px 2px 24px;    
	cursor: default;
}
.dr-menu-item {
	padding : 1px 35px 1px 1px; 
	white-space : nowrap; 	
	position : relative;
	width :180px;
}
.dr-menu-item-enabled {
	border : 0px solid transparent;
	padding : 2px 36px 2px 2px;
}
.dr-menu-item-hover {
	border : 1px solid;
	cursor : pointer; 
}
.dr-menu-item-disabled {
	border : 0px solid transparent; 
	cursor : default;
}
.dr-menu-icon {	
	margin-right : 10px;
}
.dr-menu-icon img { 
	vertical-align: middle;
}
.dr-menu-item a {
	text-decoration : none;
}

.dr-menu-node {
	position : absolute; 
	width : 16px; 
	height : 16px; 
	font-size : 1px;
	top : 1px; 
	right : 1px; 
}

.dr-menu-item-disabled .dr-menu-node {
	background-position :  bottom;
}

.dr-menu-list-border { 
	border : 1px solid;
	float : left; 
	position : absolute;
}
.dr-menu-list-bg {
	border-top-style : solid;
	border-left-style : solid;
	border-right-style : solid;

	border-top-width : 1px;
	border-left-width : 1px;
	border-right-width : 1px;

	background : repeat-y left;
}
.dr-menu-label {
	left: 0px;
	top: 0px;
	padding : 2px 5px 2px 5px; 
	white-space : nowrap; 
	border : 0px solid;
	width : 184px; 
	height : auto;
}
.dr-menu-label-unselect {
	border : 0px solid transparent;
	padding : 6px 0px 6px 0px;
	cursor : pointer;
	background:url(../css/images/icons/select_category.gif) no-repeat; 
	width:184px;
	height:28px;
	color:#666699;
	font-size:14px;
	text-align:left;
  	text-indent: 5mm;
}
.dr-menu-label-select {
	border : 0px solid transparent;
	cursor : pointer; 
	padding : 6px 0px 6px 0px;
	background:url(../css/images/icons/select_category.gif) no-repeat; 
	width:184px; 
	height:28px; 
	color:#666699; 
	font-size:14px;
	text-align:left;
  	text-indent: 5mm;
}

.dr-menu-list-strut {
	font-size : 0px; 
	border: 1px; 
	margin : 0px;
	position: relative;
}

.underneath_iframe{
	position: absolute;
	z-index: 90;
	visibility:hidden;
	left:0px;
	top:0px;
	height:1px;
	width:1px;
}

.rich-menu-item-label {
	font-size: 12px;
	color: black;
	}
.rich-menu-list-border {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border : 1px solid #e3e3e3;
	background-color: #e3e3e3;
	}
.rich-menu-list-bg {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	}
.rich-menu-list-strut {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: #e3e3e3;
	height: 6px;
	}
.rich-menu-item-label{
	font-size:12px;
	color:#666699;
	}
.rich-menu-item-label-selected {
	font-size:12px;
	font-weight:bold;
	background-color: #e3e3e3;
	color:#666699;
	}
.rich-menu-item-hover{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: #e3e3e3;
	border : 2px solid #e3e3e3;
	}
/* datatscr define  */
.rich-datascr{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height:30px;
	}
.rich-dtascroller-table{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	background-color: #a8d0f4;
	border : 2px solid #ecf5fc;
	}
.rich-datascr-act{
	border-top-color:#F87C14;
	color:#ffffff;
	background-color:#F87C14;
	font-weight:bold;
	}
.rich-datascr-inact{
	border-top-color:#ffffff;
	color:#2c629e;
	font-weight:bold;
	background-color:#ffffff;
	}
.rich-datascr-button{
	background-color:#FFFFFF;
	border : 1px solid #f3f3f3;
	color: #a8d0f4;
	}
	
	
.no-product-find {
	font-size :14px;
	color:red;
	font-weight:bold;
	}
.show-product-data-grid-row-zero {
  font-size: 12px;
  text-align:left;
  width:auto;
  color:#F87C14;
}
.show-product-data-grid-row-one {
  font-size: 12px;
  text-align:center;
}
.show-product-data-grid-row-two {
  font-size: 12px;
  text-align:left;
  font-weight:bold;
}
.show-product-data-grid-row-three {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-four {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-five {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-six {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-seven {
  font-size: 12px;
  text-align:left;
  text-indent: 12mm;
  color: #999;
}
.show-product-data-grid-row-eight{
  font-size: 12px;
  text-align:left;
  text-indent: 16mm;
  color: #999;
	}
.show-product-data-grid-price {
	font-weight:bold;
	color:#ff6513;
	}
.show-font-product-data-grid-column-one {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:18%;
  color: #999;
}
.show-font-product-data-grid-column-two {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:35%;
  color: #999;
}
.show-font-product-data-grid-column-three {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:25%;
  color: #999;
}
.show-font-product-data-grid-column-four {
  font-size: 12px;
  text-align:left;
  text-indent: 0mm;
  width:22%;
  color: #999;
}
.show-font-product-data-grid-row-one {
 	
}
.show-font-product-data-grid-row-two {
 	BACKGROUND: #fcf9e6;
}
.show-image-font-product-data-grid-column-one {
  font-size: 12px;
  text-align:left;
  text-indent: 22mm;
  width:20%;
  color: #999;
}
.show-image-font-product-data-grid-column-two {
  font-size: 12px;
  text-align:left;
  width:60%;
  color: #999;
}
.show-image-font-product-data-grid-column-three {
  font-size: 12px;
  text-align:center;
  width:20%;
  color: #999;
}
.show-image-font-product-data-grid-row-one {
  background-color: #FFFFFF;
  border:0px solid #e3e3e3;
}
.show-image-font-product-data-grid-row-two {
  background-color: #FFFFFFF;
  border:0px #e3e3e3 none;
}
.show-product-data-grid-panel {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	position: relative;
	width: auto;
	border : 1px solid #e2eaed ;
	}
.main-header{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width:100%;
	}
.main-header-left{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 7px;
	background:url(../css/images/icons/topleft_bg.jpg) no-repeat;
	}
.main-header-center{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 100%;
	background:url(../css/images/icons/top_bg.jpg) repeat;
	}
.main-header-right{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	height: 131px;
	width: 7px;
	background:url(../css/images/icons/topright_bg.jpg) no-repeat;
	}
.main-header-tabpanel-panel-grid {
				padding:0px 0px 0px 0px;
				margin:0px 0px 0px 0px;
				border : 0px solid #FFFFFF;
				font-family: Arial, sans-serif;
				font-size:15px;
  				text-align: left; 
  				padding-right: 1em;
  				padding-left: 1em; 
  				padding-bottom: 0px; 
  				color: #2c629e;
			}
.sub-main-header-left{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 20%;
	}
.sub-main-header-center{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 20%;
	}
.sub-main-header-right{
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	border-style:none;
	align:right;
	height: 131px;
	width: 60%;
	}
.rich-separator{
background-color:#ffffff;
}
.main-left-product-header{
  PADDING-RIGHT: 0px; 
  PADDING-LEFT: 0px; 
  FONT-SIZE: 14px;
  FONT-WEIGHT:BOLD;
  line-height:20px;
  TEXT-INDENT: 8px;
  BACKGROUND: url(../css/images/icons/main_product_header_top_bg.gif) no-repeat 0px 0px; 
  FLOAT: left; 
  PADDING-BOTTOM: 0px; 
  MARGIN: 0px 0px 0px 0px; 
  WIDTH: 140px; 
  HEIGHT:30px;
  PADDING-TOP: 6px;
  border:0px #f3f3f3 solid;
	}
.main-left-product-body {
  top: 0px;
  left: 0px;
  height:888px;
  padding:0px 0px 0px 0px;
  margin:0px 0px 0px 0px;
  background-color: #ffffff;
  border:1px #b8d4e8 solid;
}
.blue-button-style {
  background-color: #2c629e;
  font-size: 11px;  
  font-family: Arial, Helvetica, sans-serif;  
  color: #FFFFFF; 
  font-weight: bold; 
  height : 25px;
  border-left: #BACBD5 1px solid; 
  border-top: #BACBD5 1px solid; 
  border-bottom: #27454C 1px solid; 
  border-right: #27454C 1px solid;
  padding-left: 6px; 
  padding-right: 6px; 
  padding-top: 1px; 
  padding-bottom: 1px; 
}
.rich-pmenu {
			overflow: hidden;
			padding-right: 0px;
			font-color: #2c629e;
}
.rich-pmenu-top-group {
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
	height: 28px;
	BORDER-TOP: #a8d0f4 1px solid; 
  	BACKGROUND: #ecf5fc; 
  	BORDER-BOTTOM: #dff3fe 1px solid;
	background-repeat: repeat-x;
	background-position: left top;
	cursor: pointer;
}
.rich-pmenu-disabled-element{
		BACKGROUND:: red;
	}
.rich-pmenu-hovered-element{
		color: #2c629e;
		background: #ecf5fc;
	}
.rich-pmenu-top-group-self-icon{
	
	}
.rich-pmenu-top-group-self-label{
		font-weight:bold;
	}
.rich-pmenu-group{
		color: #2c629e;
	
	}
.rich-pmenu-group-self-icon{
	
	}
.rich-pmenu-group-self-label{
		font-weight:bold;
	}
.rich-pmenu-item{
	}
.rich-pmenu-item-icon{
	}
.rich-pmenu-item-label{
	}
.rich-pmenu-item-selected{
	color: #ffffff;
	}
