.l_border01 {
	BORDER-RIGHT: #009900 1px solid; BORDER-TOP: #009900 1px solid; BORDER-LEFT: #009900 1px solid; BORDER-BOTTOM: #009900 1px solid
}
.l_border02 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.l_border03 {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid; BACKGROUND-COLOR: #ffffe8
}
.l_border04 {
	BORDER-RIGHT: #a1d04e 1px solid; BORDER-TOP: #a1d04e 1px solid; BORDER-LEFT: #a1d04e 1px solid; BORDER-BOTTOM: #a1d04e 1px solid; BACKGROUND-COLOR: #fdfff6
}
.l_b01 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/green/l_b01.jpg); WIDTH: 56px; COLOR: #ffffff; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.l_b02 {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/green/l_b02.jpg); WIDTH: 56px; COLOR: #000000; LINE-HEIGHT: 20px; HEIGHT: 20px
}
.l_book1 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 130px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 180px; BACKGROUND-COLOR: #eaeaea
}
.l_t02 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/green/l_t02.jpg); WIDTH: 196px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.l_t03 {
	BACKGROUND-IMAGE: url(/images/green/l_t03.jpg); WIDTH: 196px; HEIGHT: 24px
}
.l_t04 {
	BACKGROUND-IMAGE: url(/images/green/l_t04.jpg); WIDTH: 196px; HEIGHT: 24px
}
.l_line {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/line.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.l_line2 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/l_line2.jpg); BACKGROUND-REPEAT: repeat-x
}
.l_line3 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/line.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 20px
}
.l_line4 {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(/images/green/line.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 24px
}
.l_line5 {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(/images/green/line.jpg); BACKGROUND-REPEAT: repeat-x; HEIGHT: 10px
}
.m_t1b {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/m_t1b.jpg); BACKGROUND-REPEAT: repeat-x
}
.m_t2 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/m_t2.jpg); BACKGROUND-REPEAT: no-repeat
}
.m_t3b {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/m_t3b.jpg); BACKGROUND-REPEAT: repeat-x
}
.m_book2 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 78px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 106px; BACKGROUND-COLOR: #eaeaea
}
.m_b_top {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/green/line.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fafafa
}
.m_b_end {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/line.gif); BACKGROUND-REPEAT: repeat-x; BACKGROUND-COLOR: #fafafa
}
.r_border01 {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; BORDER-LEFT: #ff9900 1px solid; BORDER-BOTTOM: #ff9900 1px solid
}
.r_border02 {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid
}
.r_line {
	BORDER-BOTTOM: #d1c9b1 1px dashed
}
.r_mum {
	BACKGROUND-POSITION: center center; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/green/num_bg.gif); WIDTH: 22px; COLOR: #ffffcc; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 22px
}
.r_mum2 {
	BACKGROUND-POSITION: center center; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(/images/green/num_bg2.gif); WIDTH: 22px; COLOR: #ffffff; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 22px
}
.r_b {
	WIDTH: 1px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.r_b_ {
	BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.r_b1 {
	BORDER-RIGHT: #72af20 1px solid; BACKGROUND-POSITION: center top; BORDER-TOP: #72af20 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/green/r_b1.jpg); BORDER-LEFT: #72af20 1px solid; WIDTH: 38px; COLOR: #000000; LINE-HEIGHT: 22px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
.r_b2 {
	BORDER-RIGHT: #cccccc 1px solid; BACKGROUND-POSITION: center top; BORDER-TOP: #cccccc 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/green/r_b2.jpg); BORDER-LEFT: #cccccc 1px solid; WIDTH: 38px; COLOR: #000000; LINE-HEIGHT: 22px; BACKGROUND-REPEAT: repeat-x; HEIGHT: 22px
}
.b_bg {
	BACKGROUND-IMAGE: url(/images/green/bottom.jpg); WIDTH: 1000px; HEIGHT: 60px
}
.c_bg {
	BACKGROUND-IMAGE: url(/images/green/c_bg1.jpg)
}
.c_border02 {
	BORDER-RIGHT: #a1d04e 1px solid; BORDER-TOP: #a1d04e 1px solid; BORDER-LEFT: #a1d04e 1px solid; BORDER-BOTTOM: #a1d04e 1px solid
}
.c_t02 {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/images/green/l_t02.jpg); WIDTH: 196px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 24px
}
.c_bline {
	BORDER-BOTTOM: #cccccc 1px dashed
}
.c_book {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BORDER-LEFT: #cccccc 1px solid; WIDTH: 78px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 106px; BACKGROUND-COLOR: #eaeaea
}
.c_rline {
	BORDER-RIGHT: #cccccc 1px dashed
}
.c_cline {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(/images/green/line2.gif); BACKGROUND-REPEAT: repeat-x
}
.kk {
	BACKGROUND-POSITION: center 30px; BACKGROUND-IMAGE: url(/images/green/kk.gif); BACKGROUND-REPEAT: no-repeat
}
.k_input {
	BORDER-RIGHT: #ff9900 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #ff9900 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff9900 1px solid; WIDTH: 350px; COLOR: #006666; LINE-HEIGHT: 18px; PADDING-TOP: 5px; BORDER-BOTTOM: #ff9900 1px solid; HEIGHT: 140px
}
.k_bt {
	BORDER-RIGHT: #ff9900 1px solid; BORDER-TOP: #ff9900 1px solid; FONT-SIZE: 14px; BORDER-LEFT: #ff9900 1px solid; WIDTH: 100px; COLOR: #ff9900; LINE-HEIGHT: 22px; BORDER-BOTTOM: #ff9900 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff
}
.book_c_bg {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/book_c_bg.gif); BACKGROUND-REPEAT: repeat-x
}
.person {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #eaeaea
}
.line_left {
	BORDER-LEFT: #cccccc 1px dashed
}
.line_left_m {
	BACKGROUND-POSITION: left top; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/green/line_y.gif); BACKGROUND-REPEAT: repeat-y
}
.line_left_m2 {
	BACKGROUND-POSITION: center top; PADDING-LEFT: 10px; BACKGROUND-IMAGE: url(/images/green/line_y.gif); BACKGROUND-REPEAT: repeat-y
}
.line_top {
	BORDER-TOP: #cccccc 1px dashed
}
.line_r {
	BORDER-RIGHT: #cccccc 1px dashed
}
.line_b {
	BORDER-BOTTOM: #cccccc 1px dashed
}
.music_1 {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; BORDER-LEFT: #cccccc 1px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #cccccc 1px solid; BACKGROUND-COLOR: #fafafa
}
.music_ka2 {
	BACKGROUND-POSITION: left bottom; BACKGROUND-IMAGE: url(/images/green/music_ka2.jpg); BACKGROUND-REPEAT: repeat-x
}
.music_kb1 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/green/music_kb1.jpg); BACKGROUND-REPEAT: repeat-x
}
.music_kb2 {
	BACKGROUND-POSITION: center top; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/green/music_kb2.jpg); WIDTH: 100px; COLOR: #000000; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.music_kb4 {
	BACKGROUND-POSITION: center top; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(/images/green/music_kb4.jpg); WIDTH: 85px; COLOR: #000000; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.music_kb3 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/green/music_kb3.jpg); WIDTH: 100px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.music_kb5 {
	BACKGROUND-POSITION: left top; BACKGROUND-IMAGE: url(/images/green/music_kb3.jpg); WIDTH: 85px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 24px; TEXT-ALIGN: center
}
.book_music {
	BORDER-RIGHT: #cccccc 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #cccccc 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 150px; PADDING-TOP: 5px; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 150px
}
.s_bt {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; BACKGROUND-IMAGE: url(/images/green/s_bt_bg3.jpg); BORDER-LEFT: #cccccc 1px solid; BORDER-BOTTOM: #cccccc 1px solid; HEIGHT: 24px
}
.s_bg_no {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(/images/green/book.jpg); BACKGROUND-REPEAT: no-repeat
}
.s_01 {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(/images/green/c_bg1.jpg); BACKGROUND-REPEAT: repeat-x
}
.s_02 {
	BACKGROUND-POSITION: left center; BACKGROUND-IMAGE: url(/images/green/l_t02.jpg); BACKGROUND-REPEAT: no-repeat
}
.uer_input {
	BORDER-RIGHT: #97cb3a 1px solid; BORDER-TOP: #97cb3a 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 14px; BORDER-LEFT: #97cb3a 1px solid; COLOR: #003300; LINE-HEIGHT: 18px; BORDER-BOTTOM: #97cb3a 1px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 18px; BACKGROUND-COLOR: #f9fcf4
}
.td_pagination {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BACKGROUND-COLOR: #f3f3f3
}
.td_pagination .click-span {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #009900; PADDING-TOP: 4px; BACKGROUND-COLOR: #e8e8e8; TEXT-DECORATION: underline
}
.td_pagination A:link {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: 12px
}
.td_pagination A:visited {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; COLOR: #000000; PADDING-TOP: 4px; FONT-FAMILY: 12px
}
.td_pagination A:hover {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 4px; COLOR: #009900; PADDING-TOP: 4px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #e8e8e8; TEXT-DECORATION: underline
}
.help_td1 {
	BACKGROUND-IMAGE: url(/images/green/botton_2.gif); HEIGHT: 26px
}
.intr_b2_body {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-LEFT: #ff6600 1px solid; WIDTH: 190px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
 HTML .intr_b2_body {
	BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6600 1px solid; WIDTH: 180px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
UNKNOWN {
	BORDER-RIGHT: #ff6600 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #ff6600 1px solid; WIDTH: 180px; PADDING-TOP: 5px; BACKGROUND-COLOR: #ffffff
}
.intr_b2 {
	DISPLAY: block; FLOAT: left
}
 HTML .intr_b2 {
	DISPLAY: block; FLOAT: left; MARGIN: 4px
}
.intr_b3 {
	PADDING-RIGHT: 0px; BORDER-TOP: #877d5a 1px dashed; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 10px 5px 0px 10px; WIDTH: 768px; PADDING-TOP: 1px
}
 HTML .intr_b3 {
	PADDING-RIGHT: 0px; BORDER-TOP: #877d5a 1px dashed; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 1px; MARGIN: 10px 5px 0px 10px; WIDTH: 758px; PADDING-TOP: 1px
}
.intr_b3_t1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 768px; COLOR: #837856; PADDING-TOP: 5px; HEIGHT: 24px; BACKGROUND-COLOR: #f6f5f1
}
 HTML .intr_b3_t1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 20px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 758px; COLOR: #837856; PADDING-TOP: 5px; HEIGHT: 24px; BACKGROUND-COLOR: #f6f5f1
}
.intr_b3_t2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 768px; COLOR: #3399cc; PADDING-TOP: 5px; HEIGHT: 24px; BACKGROUND-COLOR: #f6f5f1
}
 HTML .intr_b3_t2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 758px; COLOR: #3399cc; PADDING-TOP: 5px; HEIGHT: 24px; BACKGROUND-COLOR: #f6f5f1
}
.intr_b3_c1 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 30px; FONT-SIZE: 12px; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 728px; COLOR: #666666; LINE-HEIGHT: 18px; PADDING-TOP: 10px
}
.question_body {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 748px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
HTML .question_body {
	BORDER-RIGHT: #cccccc 1px solid; BORDER-TOP: #cccccc 1px solid; DISPLAY: block; FLOAT: left; MARGIN: 5px; BORDER-LEFT: #cccccc 1px solid; WIDTH: 738px; BORDER-BOTTOM: #cccccc 1px solid; TEXT-ALIGN: left
}
.question_body2 {
	DISPLAY: block; FLOAT: left; MARGIN: 5px; WIDTH: 748px; TEXT-ALIGN: right
}
HTML .question_body2 {
	DISPLAY: block; FLOAT: left; MARGIN: 5px; WIDTH: 738px; TEXT-ALIGN: right
}
.question_b2 {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px; PADDING-TOP: 2px
}
.question_b2text {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 5px 6px; WIDTH: 700px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
HTML .question_b2text {
	PADDING-RIGHT: 2px; DISPLAY: block; PADDING-LEFT: 2px; FLOAT: left; PADDING-BOTTOM: 2px; MARGIN: 5px 5px 5px 6px; WIDTH: 680px; PADDING-TOP: 2px; TEXT-ALIGN: left
}
.question_b3 {
	DISPLAY: block; FLOAT: left; MARGIN: 5px; WIDTH: 720px; TEXT-ALIGN: right
}
.que1 {
	FLOAT: right; MARGIN: 5px 20px 0px 15px
}
HTML .que1 {
	FLOAT: right; MARGIN: 5px 5px 0px 15px
}
.que2 {
	FLOAT: right
}
.login {
	FONT-SIZE: 14px; COLOR: #000000; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #f2f9e8
}
.login1 {
	BORDER-RIGHT: #abd773 2px solid; BORDER-TOP: #abd773 2px solid; BORDER-LEFT: #abd773 2px solid; BORDER-BOTTOM: #abd773 2px solid
}
.login2 {
	FONT-SIZE: 14px; COLOR: #000000; BORDER-BOTTOM: #dbeebd 1px solid; BACKGROUND-COLOR: #ffffff
}
.login_input {
	BORDER-RIGHT: #999999 1px solid; BACKGROUND-POSITION: right bottom; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 2px; BACKGROUND-IMAGE: url(/images/green/login_input.gif); BORDER-LEFT: #999999 1px solid; LINE-HEIGHT: 18px; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-REPEAT: no-repeat; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff
}
.listl {
	BACKGROUND-POSITION: 70px 5px; PADDING-LEFT: 5px; FLOAT: left; BACKGROUND-IMAGE: url(../../images/green/dot_left.gif); WIDTH: 85px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #cccccc 1px dashed; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.listl_no {
	PADDING-LEFT: 5px; FLOAT: left; WIDTH: 85px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #cccccc 1px dashed; HEIGHT: 25px
}
.listr {
	BACKGROUND-POSITION: 70px 5px; FLOAT: left; BACKGROUND-IMAGE: url(../../images/green/dot_left.gif); WIDTH: 90px; LINE-HEIGHT: 25px; BORDER-BOTTOM: #cccccc 1px dashed; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px
}
.listr_no {
	FLOAT: left; WIDTH: 90px; LINE-HEIGHT: 20px; BORDER-BOTTOM: #cccccc 1px dashed; HEIGHT: 25px
}
.listl_wai {
	FLOAT: left; WIDTH: 60px
}
.flxf_left_wai A {
	COLOR: #000000; TEXT-DECORATION: none
}
.flxf_left_wai A:hover {
	COLOR: #000000; TEXT-DECORATION: none
}
.flxf_left {
	BORDER-TOP: #009900 1px solid; FONT-WEIGHT: bold; FLOAT: left; BORDER-LEFT: #009900 1px solid; WIDTH: 61px; COLOR: #000000; LINE-HEIGHT: 23px; BORDER-BOTTOM: #009900 1px solid; HEIGHT: 23px; BACKGROUND-COLOR: #f8fcf1; TEXT-ALIGN: center; BORDER-RIGHT-WIDTH: 1px; BORDER-RIGHT-COLOR: #009900
}
.flxf_left_wai .shadow {
	FONT-SIZE: 0px; Z-INDEX: -1; BACKGROUND: #999; FILTER: alpha(opacity=30); MARGIN-LEFT: 2px; WIDTH: 60px; POSITION: absolute; HEIGHT: 27px; moz-opacity: 0.3; opacity: 0.3
}
.flxf_right_wai {
	FLOAT: left; WIDTH: 180px
}
.flxf_right {
	BORDER-RIGHT: #009900 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #009900 1px solid; PADDING-LEFT: 3px; BORDER-LEFT-WIDTH: 1px; BORDER-LEFT-COLOR: #009900; BACKGROUND: url(../images/flxf_bg.gif) #f8fcf1 no-repeat left top; FLOAT: left; PADDING-BOTTOM: 10px; WIDTH: 160px; PADDING-TOP: 0px; BORDER-BOTTOM: #009900 1px solid
}
.flxf_right LI {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 10px; MARGIN-TOP: 5px; DISPLAY: inline; PADDING-LEFT: 10px; FLOAT: left; PADDING-BOTTOM: 0px; WORD-BREAK: keep-all; LINE-HEIGHT: 15px; PADDING-TOP: 0px; HEIGHT: 15px
}
.flxf_right_wai .shadow {
	FONT-SIZE: 0px; Z-INDEX: -1; BACKGROUND: #999; FILTER: alpha(opacity=30); LEFT: 63px; WIDTH: 175px; POSITION: absolute; moz-opacity: 0.3; opacity: 0.3
}
.gray4012 A {
	COLOR: #404040; TEXT-DECORATION: none
}
.sousuo_shuoming {
	BACKGROUND-POSITION: 60px 5px; BORDER-TOP: #cccccc 1px dashed; FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../../images/dot2.jpg); COLOR: #666666; LINE-HEIGHT: 18px; BORDER-BOTTOM: #cccccc 1px dashed; BACKGROUND-REPEAT: no-repeat; BACKGROUND-COLOR: #f9f9f9
}
.mimabeizhu {
	BORDER-RIGHT: #c59d5f 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #c59d5f 1px solid; PADDING-LEFT: 5px; FONT-SIZE: 12px; MARGIN: 5px 0px 0px 235px; BORDER-LEFT: #c59d5f 1px solid; COLOR: #ce3300; LINE-HEIGHT: 20px; BORDER-BOTTOM: #c59d5f 1px solid; POSITION: absolute; HEIGHT: 20px; BACKGROUND-COLOR: #fef3bb
}
.mimabeizhu_bk {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 12px; MARGIN: 3px 0px 0px; COLOR: #333333; LINE-HEIGHT: 20px; POSITION: absolute; HEIGHT: 20px
}
.leibie_bg_w {
	BACKGROUND-COLOR: #ffffff
}
.leibie_bg_g {
	BACKGROUND-COLOR: #eff7e1
}
.leibie_bg_over {
	BACKGROUND-COLOR: #ffffec
}
.zhe3 {
	BACKGROUND-IMAGE: url(../../images/green/third.gif); MARGIN: 110px 0px 0px 60px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zheb3 {
	BACKGROUND-IMAGE: url(../../images/green/third.gif); MARGIN: 160px 0px 0px 110px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zhess {
	BACKGROUND-IMAGE: url(../../images/green/third2.gif); MARGIN: 65px 0px 0px 40px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
.zhe3x {
	BACKGROUND-IMAGE: url(../../images/green/third.gif); MARGIN: 78px 0px 0px 80px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zhessx {
	BACKGROUND-IMAGE: url(../../images/green/third2.gif); MARGIN: 80px 0px 0px 40px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
.zhe3ssx {
	BACKGROUND-IMAGE: url(../../images/green/third2.gif); MARGIN: 30px 0px 0px 30px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
.zhe {
	BACKGROUND-IMAGE: url(../../images/green/second.gif); MARGIN: 110px 0px 0px 60px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zheb {
	BACKGROUND-IMAGE: url(../../images/green/second.gif); MARGIN: 160px 0px 0px 110px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zhes {
	BACKGROUND-IMAGE: url(../../images/green/second2.gif); MARGIN: 65px 0px 0px 40px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
.zhex {
	BACKGROUND-IMAGE: url(../../images/green/second.gif); MARGIN: 78px 0px 0px 80px; WIDTH: 74px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 73px
}
.zhesx {
	BACKGROUND-IMAGE: url(../../images/green/second2.gif); MARGIN: 80px 0px 0px 40px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
.zhe2ssx {
	BACKGROUND-IMAGE: url(../../images/green/second2.gif); MARGIN: 30px 0px 0px 30px; WIDTH: 36px; BACKGROUND-REPEAT: no-repeat; POSITION: absolute; HEIGHT: 36px
}
