<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
   
  <servlet>  
     <servlet-name>context</servlet-name>  
     <servlet-class>  
         org.springframework.web.context.ContextLoaderServlet  
     </servlet-class>  
     <load-on-startup>1</load-on-startup>  
  </servlet>  
  
  <context-param>  
    <param-name>contextConfigLocation</param-name>  
    <param-value>/WEB-INF/applicationContext.xml</param-value>  
  </context-param>
  <context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>server</param-value>
  </context-param>
  <!-- Plugging the "Blue Sky" skin into the project -->
  <context-param>
    <param-name>org.richfaces.SKIN</param-name> 
    <param-value>common</param-value> 
  </context-param>
  	<context-param>
		<param-name>org.richfaces.LoadStyleStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param>
	<context-param>
		<param-name>org.richfaces.LoadScriptStrategy</param-name>
		<param-value>ALL</param-value>
	</context-param> 
  
  <!-- Making the RichFaces skin spread to standard HTML controls -->
  <context-param>
	<param-name>org.richfaces.CONTROL_SKINNING</param-name>
	<param-value>enable</param-value>
  </context-param>
  <!-- Defining and mapping the RichFaces filter -->
  <!-- richfaces start-->
  <context-param>
     <param-name>org.ajax4jsf.COMPRESS_SCRIPT</param-name>
     <param-value>TRUE</param-value>
  </context-param>
  <filter>
     <display-name>Ajax4jsf Filter</display-name>
     <filter-name>ajax4jsf</filter-name>
     <filter-class>org.ajax4jsf.Filter</filter-class>
     <init-param>
  	 	<param-name>createTempFiles</param-name>
  	 	<param-value>false</param-value>
  	 </init-param>
  	 <init-param>
  	 	<param-name>maxRequestSize</param-name>
  	 	<param-value>20000000</param-value>
  	 </init-param>
     <init-param>
      <param-name>forceparser</param-name>
      <param-value>false</param-value>
     </init-param>
  </filter>
  <filter-mapping>
     <filter-name>ajax4jsf</filter-name>
     <servlet-name>Faces Servlet</servlet-name>
     <dispatcher>FORWARD</dispatcher>
     <dispatcher>REQUEST</dispatcher>
     <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
  <!-- richfaces end -->
  <!-- facelets start -->
  <context-param>
     <param-name>org.ajax4jsf.VIEW_HANDLERS</param-name>
     <param-value>com.sun.facelets.FaceletViewHandler</param-value>
  </context-param>
  <context-param>
     <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
     <param-value>.jsp</param-value>
  </context-param>
  <!-- facelets end -->
  
  <context-param>
    <param-name>javax.faces.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
   
  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>
  <filter> 
	<filter-name>RightFilter</filter-name> 
	<filter-class>com.ejd.web.vo.genl.RightFilter</filter-class> 
  </filter> 
	<filter-mapping> 
	<filter-name>RightFilter</filter-name> 
	<url-pattern>/jspLayout/manage/*</url-pattern>
	<url-pattern>/jspLayout/Shopping/*</url-pattern>
	<url-pattern>/jspLayout/help/subHelp/*</url-pattern>
	</filter-mapping>
  <!-- Faces Servlet -->
  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>*.jsf</url-pattern>
  </servlet-mapping>
  <!-- start freemarker servlet -->
  	<servlet>
   <servlet-name>freemarker</servlet-name>
   <servlet-class>freemarker.ext.servlet.FreemarkerServlet
   </servlet-class><!-- FreemarkerServlet settings: -->
   <init-param>
    <param-name>TemplatePath</param-name>
    <param-value>/ftl</param-value>
   </init-param>
   <init-param>
    <param-name>NoCache</param-name>
    <param-value>true</param-value>
   </init-param>
   <init-param>
    <param-name>ContentType</param-name>
    <param-value>text/html</param-value>
   </init-param><!-- FreeMarker settings: -->
   <init-param>
    <param-name>template_update_delay</param-name>
    <param-value>0</param-value><!-- 0 is for development only! Use higher value otherwise. -->
   </init-param>
   <init-param>
    <param-name>default_encoding</param-name>
    <param-value>utf-8</param-value>
   </init-param>
   <init-param>
    <param-name>locale</param-name>
    <param-value>en_US</param-value>
   </init-param>
   <init-param>
    <param-name>number_format</param-name>
    <param-value>0.##########</param-value>
   </init-param>
   <init-param>  
    <param-name>auto_import</param-name>  
    <param-value>"/ftl/eachCategoryProduct.ftl" as model</param-value>  
	</init-param> 
   <load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
   	<servlet-name>freemarker</servlet-name>
   	<url-pattern>*.ftl</url-pattern>
	</servlet-mapping>
	<!-- end freemarker servlet -->
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>2880</session-timeout>
  </session-config>
  	  
   <!-- 400错误 请求无效 -->
    <error-page>
        <error-code>400</error-code>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
 <!-- 404 页面不存在错误 -->
    <error-page>
        <error-code>404</error-code>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
   <!-- 500 服务器内部错误 -->
    <error-page>
        <error-code>500</error-code>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
    <!-- java.lang.Exception异常错误,依据这个标记可定义多个类似错误提示 -->
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
    <!-- java.lang.NullPointerException异常错误,依据这个标记可定义多个类似错误提示 -->
    <error-page>
        <exception-type>java.lang.NullPointerException</exception-type>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
    <error-page>
        <exception-type>javax.servlet.ServletException</exception-type>
        <location>/jspLayout/404error.jsp</location>
    </error-page>
</web-app>

